<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <div class="qty-holder">
            <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a>
            </div>
        </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>
        <span id='ajax_loader' style='display:none'><i class="ajax-loader small animate-spin"></i></span>
		<?php echo $this->getChildHtml('', true, true) ?>
    </div>
    <button type="button" class="button oneclickorder" onclick="jQuery('#oneclickorder-form-wrapper').show();return false;" id="oneclickorder-form-wrapper-open">
		<span><?php echo $this->__('Consultation')?></span>
	</button>
	<?php /* <a href="#" onclick="jQuery('#oneclickorder-form-wrapper').show();return false;" id="oneclickorder-form-wrapper-open"><?php echo $this->__('1 Click Order')?></a> */?>
<?php endif; ?>
