<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-content">
        <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>
        <?php if($this->canShowOptions()): ?>
			<?php // This hack was added by Seoringer.
			$_isCurrentCategoryHasBrandOrigin = false;
			if (is_object(Mage::registry('current_category')))
				$_isCurrentCategoryHasBrandOrigin = in_array(249, explode('/', Mage::registry('current_category')->getPath()));	// 249 is ID of the "Brands" category.
			?>
            <dl id="narrow-by-list">
                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $_filter): ?>
					<?php if ($_isCurrentCategoryHasBrandOrigin && 'brand' == $_filter->getName()) continue;	// Skipping "brand" filter in the "Brand-ed" categories. ?>
					<?php if($_filter->getItemsCount()): ?>
                        <?php $filterName = $this->__($_filter->getName()); ?>
                        <?php if ($_filter->getAttributeModel()) $filterName = $_filter->getAttributeModel()->getStoreLabel(); ?>
						<dt><?php echo $filterName;
                        //echo $this->__($_filter->getName()) ?></dt>
						<dd><?php echo $_filter->getHtml() ?></dd>
					<?php endif; ?>
                <?php endforeach; ?>
            </dl>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <script type="text/javascript">
                jQuery(function($){
                    $(".block-layered-nav dt").click(function(){
                        if($(this).next("dd").css("display") == "none"){
                            $(this).next("dd").slideDown(200);
                            $(this).removeClass("closed");
                        } else {
                            $(this).next("dd").slideUp(200);
                            $(this).addClass("closed");
                        }
                    });
                });
            </script>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
