<?php
$today = date('Y-m-d');
if ($today >= '2017-04-14' && $today <= '2017-04-17') :
?>
<div id="fancybox-popup" style="display:none">
 <a href="<?=Mage::getUrl('custom_controller')?>">
	<!--<a href="http://1pack.eu/action">-->
		<img src="<?=$this->getSkinUrl('images/eastern17.jpg')?>"/>
	<!--</a>-->
</div>
<script>

	var popItUp = function() {
        console.log('popping up...');
		//jQuery("a#pops").fancybox();
			margins = 40;
			imageKoeff = 1.67;
			fb_width = Math.min(720, parseInt(jQuery(window).width()) - margins);
			fb_height = Math.round(fb_width/imageKoeff);
			if (fb_height > (parseInt(jQuery(window).height()) - margins)) {
				fb_height = parseInt(jQuery(window).height()) - margins;
				fb_width = Math.round(fb_height * imageKoeff);
			}
			
			<?php /*
			jQuery.fancybox({
				href: "<?=$this->getSkinUrl('images/valentines.jpg')?>",
				//prevEffect	: 'none',
				//nextEffect	: 'none',
				//fitToView: false, // avoid the adjusting size to viewport
				fitToView: true,
				type: 'image',
				autoSize: false, // avoid set size based on content
				width           : fb_width,
				height          : fb_height,
				showCloseButton	: true,
				//arrows    : false,
			});
			*/ ?>
		cntn = jQuery('#fancybox-popup').clone(); //.attr("style", "display:block");
        cntn.find('img').css("width", "100%").css("height", "auto");
		jQuery.fancybox({
			content: cntn,
			//prevEffect	: 'none',
			//nextEffect	: 'none',
	        //fitToView: false, // avoid the adjusting size to viewport
	        type: 'html',
    		autoSize: false, // avoid set size based on content
			width           : fb_width,
            height          : fb_height,
			//arrows    : true,
			showCloseButton	: true,
			helpers : {
				media: true 
			},
			scrolling: false,
				beforeShow: function() {
				},
       			afterShow: function(){
					createCookie("noMorePopupWindow", true);
				}
		});

	}

	var createCookie = function(name, value, days) {
		var expires;
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			expires = "; expires=" + date.toGMTString();
		}
		else {
			expires = "";
		}
		document.cookie = name + "=" + value + expires + "; path=/";
	}

	function getCookie(c_name) {
		if (document.cookie.length > 0) {
			c_start = document.cookie.indexOf(c_name + "=");
			if (c_start != -1) {
				c_start = c_start + c_name.length + 1;
				c_end = document.cookie.indexOf(";", c_start);
				if (c_end == -1) {
					c_end = document.cookie.length;
				}
				return unescape(document.cookie.substring(c_start, c_end));
			}
		}
		return "";
	}

	
	jQuery( function(){
		if ("" === getCookie("noMorePopupWindow")) {
			setTimeout(popItUp, 3000);
		}
	});
</script>
<?php endif;?>
