<style type="text/css"><!--
.header-container{border-bottom:1px solid #e1e1e1;}
--></style>
<div class="homepage-bar" style="border: 1px solid #e1e1e1; border-radius: 5px; margin: 0 0 20px 0;">
<div class="row">
    <div class="delivery col-md-4" style="text-align: center; height: 70px; padding-top: 10px; padding-bottom: 10px;">
        <div class="text-area"><span class="h3">WORKING ALL OVER EUROPE</span>
            <p>The best prices, in the shortest possible time.</p>
        </div>
    </div>
    <div class="return col-md-4" style="text-align: center; height: 70px; padding-top: 10px; padding-bottom: 10px;">
        <div class="text-area"><span class="h3">EXPERIENCE AND TRUST</span>
            <p>Experienced team of professionals. More than 20 years of experience, more than 5,000 companies around the world trust us.</p>
        </div>
    </div>
    <div class="support col-md-4" style="text-align: center; height: 70px; padding-top: 10px; padding-bottom: 10px;">
        <div class="text-area"><span class="h3">TECHNICAL SUPPORT</span>
            <p>Warranty and service maintenance, qualified support.</p>
        </div>
    </div>
</div>
</div>
<div class="row" style="margin: 0 -10px;">
<div class="col-md-3" style="padding: 0 10px;">
    <div class="home-side-menu" style="margin-bottom: 20px;"><span class="h2 side-menu-title">CATEGORIES</span> {{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
</div>
<div class="col-md-9" style="padding: 0 10px;">
    <div class="owl-bottom-narrow owl-banner-carousel" style="margin-bottom: 20px;">
        <div id="banner-slider-demo-6" class="owl-carousel owl-theme">
            <div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_1.jpg"}}" />
                <div class="content type2" style="position: absolute; bottom: 20%; left: 8%; text-align: left;"><a class="btn btn-default" href="{{store url="packing-equipment/vertical-automatic-packing-machines-ufu-5"}}">VERTICAL AUTOMATIC PACKING MACHINES UFU 5</a></div>
        </div>
        <div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_4.jpg"}}" />
            <div class="content type2" style="position: absolute; bottom: 20%; left: 8%; text-align: left;"><a class="btn btn-default" href="{{store url="packages-and-bags/polijetilenovye-pakety"}}">POLYETHYLENE PACKING BAGS</a></div>
    </div>
    <div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_2.jpg"}}" />
        <div class="content type2" style="position: absolute; bottom: 20%; right: 3%; text-align: left;"><a class="btn btn-default" href="{{store url="packing-equipment/vertical-semi-automatic-packing-machines"}}">VERTICAL SEMI-AUTOMATIC PACKING MACHINES</a></div>
</div>
<div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_3.jpg"}}" />
    <div class="content type2" style="position: absolute; bottom: 20%; left: 8%; text-align: left;"><a class="btn btn-default" href="{{store url="packing-equipment/shrink-wrapping-machine"}}">SHRINK-WRAPPING MACHINE</a></div>
</div>
<div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_6.jpg"}}" />
<div class="content type2" style="position: absolute; bottom: 20%; left: 8%; text-align: left;"><a class="btn btn-default" href="{{store url="packing-film-and-paper"}}">PACKING FILM AND PAPER</a></div>
        </div>
<div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_5.jpg"}}" />
<div class="content type2" style="position: absolute; bottom: 20%; left: 8%; text-align: left;"><a class="btn btn-default" href="{{store url="packages-and-bags/paper-packet"}}">PAPER BAGS</a></div>
        </div>
<div class="item" style="background: #f0f0f0; background-image: linear-gradient(#e8e8e8,#f0f0f0); position: relative; border-radius: 5px;"><img alt="" src="{{media url="wysiwyg/Pac/Service_pac_71.jpg"}}" />
<div class="content type2" style="position: absolute; bottom: 20%; right: 3%; text-align: left;"><a class="btn btn-default" href="{{store url="packing-film-and-paper/flexographic-printing"}}">FLEXOGRAPHIC PRINTING</a></div>
        </div>
        </div>
<script type="text/javascript">// <![CDATA[
jQuery(function($){
    $("#banner-slider-demo-6").owlCarousel({autoPlay:true,lazyLoad: true,stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});
});
// ]]></script>
        </div>
        </div>
        </div>
<div class="row" style="margin: 0 -10px;">
<div class="col-md-9" style="padding: 0 10px;"><hr style="background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent); border: 0; height: 1px; margin: 10px 0 0;" />
    <div class="row">
        <div class="col-sm-4"><span class="h2 filter-title" style="background-image: none; margin-top: 20px; margin-bottom: 5px;"><span class="content"><strong><a href="{{store url="show_category" _query_category="newproducts"}}">New items</a></strong></span></span> {{block type="filterproducts/newproduct_home_list" name="newproduct_list" product_count="5" template="filterproducts/small_list.phtml"}}</div>
    <div class="col-sm-4"><span class="h2 filter-title" style="background-image: none; margin-top: 20px; margin-bottom: 5px;"><span class="content"><strong><a href="{{store url="show_category" _query_category="bestsellers"}}">Leaders of sales</a></strong></span></span> {{block type="filterproducts/bestsellers_home_list" name="bestsellers_list" product_count="5" template="filterproducts/small_list.phtml"}}</div>
<div class="col-sm-4"><span class="h2 filter-title" style="background-image: none; margin-top: 20px; margin-bottom: 5px;"><span class="content"><strong><a href="{{store url="show_category" _query_category="sales"}}">Promotions</a></strong></span></span> {{block type="filterproducts/sale_home_list" name="sale_list" product_count="5" template="filterproducts/small_list.phtml"}}</div>
<div class="bottom-notice">
<p class="h2">Why buy from us?</p>
<div class="bottom-notice-element"><img alt="" src="{{skin url="images/One.png"}}" />
    <p class="h3">INDIVIDUAL APPROACH TO EVERY CLIENT</p>
    <p>Production of equipment according to the customer's specifications</p>
</div>
<div class="bottom-notice-element"><img alt="" src="{{skin url="images/Two.png"}}" />
    <p class="h3">COMPLETE TURNKEY SOLUTION</p>
    <p>Idea &rarr; Design &rarr; Packaging &rarr; Packaging equipment</p>
    <p>Our team will develop the best package design for you, &rarr; we will produce for you the necessary flexible packaging (package or film), &rarr; and also we will offer and produce the necessary packing and filling equipment for your project.</p>
</div>
<div class="bottom-notice-element"><img alt="" src="{{skin url="images/Three.png"}}" />
    <p class="h3">WITH US IT&rsquo;S EASY</p>
    <p>We are always ready to help you to choose exactly what you want. Get professional advice on the product that you are interested in.</p>
</div>
</div>
        </div>
        </div>
<div class="col-md-3" style="padding: 0 10px;">{{block type="testimonial/sidebar" name="testimonial.sidebar" template="testimonial/testimonial_sidebar.phtml"}} <span class="h2 filter-title" style="background-image: none; margin-bottom: -15px; margin-top: 20px;"><span class="content"><strong>Articles and Reviews</strong></span></span>
<div id="latest_news" style="margin: 0 -10px;">{{block type="blog/last" name="latest_news" template="blog/recentposts_home.phtml"}}</div>
<style type="text/css"><!--
.recent-posts .item .col-sm-5, .recent-posts .item .col-sm-7{width:100%;}
--></style>
<script type="text/javascript">// <![CDATA[
jQuery(function($){
    $("#latest_news .owl-carousel").owlCarousel({
        lazyLoad: true,
        responsiveRefreshRate: 50,
        slideSpeed: 200,
        paginationSpeed: 500,
        scrollPerPage: true,
        stopOnHover: true,
        rewindNav: true,
        rewindSpeed: 600,
        pagination: true,
        navigation: false,
        autoPlay: true,
        singleItem: true
    });
});
// ]]></script>
</div>
        </div>