<?php
/**
 * Mageplaza_ActionsList extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post Tag list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 */
?>
<?php $_tags = $this->getTags(); ?>
<?php if ($_tags->getSize() > 0) : ?>
    <div class="block">
        <div class="block-title">
            <strong><span><?php echo Mage::helper('mageplaza_actionslist')->__('Tags') ?></span></strong>
        </div>
        <div class="tags-list-container">
            <?php foreach ($_tags as $_tag) : ?>
                    <a href="<?php echo $_tag->getTagUrl() ?>">
                        <?php echo $_tag->getName(); ?>
                    </a>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>
