<?php 
	$_product = $this->getProduct(); 
	$stock_label = $_product->getData('stock_label');
?>

<?php echo $this->getPriceHtml($_product) ?>

<?php if(!is_null($stock_label)): ?>
	<p class="availability in-stock"><?php echo $this->__('Availability:') ?> 
		<span><?php echo $this->__($stock_label) ?></span>
	</p>
<?php else: ?>
	<?php if ($_product->isAvailable()): ?>
	<p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
	<?php else: ?>
	<p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
	<?php endif; ?>

	<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php endif; ?>