<?php
/**
 Made by Smartwave.
 */
?>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $footer = Mage::getStoreConfig('porto_settings/footer',$code);
?>
<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $footer['footer_newsletter_title']; ?></span></strong>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="footer-newsletter-validate-detail" onsubmit="setNewsletterCookie()">
        <div class="block-content">
            <p><?php echo $footer['footer_newsletter']; ?></p>
            <div class="input-box">
                <p class="label"><?php echo $this->__('Enter your e-mail Address'); ?></p>
                <input type="text" name="email" id="newsletter_footer" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                <div class="clearer"></div>
            </div>
        </div>
    </form>
    <?php 
       // echo $this->getLayout()->createBlock('cms/block')->setBlockId('social_links')->toHtml(); 
    ?> 
    <div class="social_i">
        <a class="facebook" href="https://www.facebook.com/servicepacktrade/"></a>
        <a class="youtube" href="https://www.youtube.com/channel/UCUU8HA5QZS6v3qvtBYO1XsQ"></a>
        <a class="twitter" href="https://twitter.com/SERVICEPACKtr"></a>
        <a class="linkedin" href="https://www.linkedin.com/company/servicepacktrade/"></a>
        <a class="googleplus" href="https://plus.google.com/u/1/116897161070426175976"></a>
        <a class="instagram" href="https://www.instagram.com/servicepacktrade/"></a>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var footernewsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
    //]]>
    </script>
</div>
