<div class="page-title">
    <h1><?php echo $this->__('Скидки, которыми вы можете воспользоваться.') ?></h1>
</div>
<?php if ($customer = $this->getCustomer()): ?>
	<?php
	$rules = Mage::getResourceModel('salesrule/rule_collection')->setMyValidationFilter(Mage::app()->getStore()->getWebsiteId(), $customer->getGroupId())->load();
	$processingFirstRule = true;
	foreach($rules as $ruleWithLoadedCouponCode) :
		$rule = Mage::getModel('salesrule/rule')->load($ruleWithLoadedCouponCode->getId());
		if (count($rule->getData('customer_group_ids')) > 1) continue;	// Here we need only PERSONAL (unique for the group) discounts.
		if ($processingFirstRule) : ?>
			<ul class="customer-discounts">
		<?php endif;?>

			<li class="customer-discount">
				<span class="discount-name"><?=$rule->getDescription()?></span>
				<?php if (0 != $rule->getDiscountAmount()) :?>
					<span class="discount-percent"><?=$this->__('Скидка: ') . round($rule->getDiscountAmount()) . '%'?></span>
				<?php endif;?>
				<?php if (!empty($rule->getDiscountAmount())) :?>
					<span class="discount-coupon"><?=$this->__('Купон: ') . $ruleWithLoadedCouponCode->getCode()?></span>
				<?php endif;?>
			</li>

		<?php
		if ($processingFirstRule) : ?>
			</ul>
		<?php
			$processingFirstRule = false;
		endif;
	endforeach; ?>
<?php else: ?>
    <div>Вы не вошли в систему</div>
<?php endif; ?>

