.owl-top-narrow #category-slider-demo-7 .owl-controls{right:-2px}

.header .demo-tooltip,.footer .demo-tooltip{position:absolute;right:15px;top:5px;z-index:9;width:20px}
.header-container.sticky-header .header .demo-tooltip{display:none}
.footer .demo-tooltip{top:-20px}
a.tooltip-icon{border:1px solid #fff;color:#fff;border-radius:50%;display:block;width:20px;height:20px;text-align:center;line-height:20px;font-size:10px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;-webkit-animation: tooltip-animation 1s ease-in infinite;-moz-animation: tooltip-animation 1s ease-in infinite;-ms-animation: tooltip-animation 1s ease-in infinite;animation: tooltip-animation 1s ease-in infinite;}
.header-container.type2 a.tooltip-icon,.header-container.type3 a.tooltip-icon,.header-container.type4 a.tooltip-icon,.header-container.type5 a.tooltip-icon,.header-container.type6 a.tooltip-icon,.header-container.type7 a.tooltip-icon,.header-container.type8 a.tooltip-icon{color:#000;border-color:#000}


.tooltip-popup{position:absolute;right:-10px;top:30px;width:300px;background-color:#111;box-shadow:0 0 8px rgba(255,255,255,.5);padding:20px;border-radius:10px;font-size:12px;line-height:1.4;color:#fff;text-align:left}
.tooltip-popup h4{font-size:16px;color:#fff}
.tooltip-popup p{margin-bottom:10px;color:#fff}
.tooltip-popup em{font-size:10px}
a.tooltip-close{position:absolute;right:10px;top:10px;color:#fff}
.footer-middle>.container{position:relative}

/* tooltip for demo */
@-webkit-keyframes tooltip-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tooltip-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
@-webkit-keyframes tooltip-color {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: #fff;
  }
}
@keyframes tooltip-color {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes tooltip-color-white {
  0% {
    color: #444;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #444;
  }
}
@keyframes tooltip-color-white {
  0% {
    color: #444;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #444;
  }
}



/* Update 1.12.15*/
/*Testimonials bootstrap module*/
/*Comment List styles*/
.review-col .comment-list .row {
  margin-bottom: 0px;
}
.review-col .comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.review-col  h2.page-header{
  text-transform:capitalize;
}
.review-col  .comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.review-col .comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.review-col .comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
.review-col .panel-body {
  padding:15px!important;
}
@media (min-width: 768px) {
.review-col .ratings-b .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
.review-col .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
.review-col .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
.review-col .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
.review-col .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
.review-col .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.review-col .comment-list{
      color: #252a2f;
    line-height: 22px;
    font-size:14px;
}
.review-col .comment-list .panel{
    width: 100%;}

.comment-list .thumbnail{
  float:right;
  max-width:100px;
}
.comment-list .comment-post{
  padding:10px 10px 0px 10px;
}
.testimonial .panel-body .comment-date{
  float:right;
}
.testimonial .comment-user{
  display: inline-block;
}
/*testimonials end*/
select#novaposhta-form-city-field,select#novaposhta-form-warehouse-field{
   width:225px;
}

.product-view .add-to-links{
  float:left;
    margin-top: 10px;
}

.cms-delivery-pay pre{
  display:none;
}
.filter-products .products.small-list div.item .product-image-area{
  padding-left:5px;
}

@media (max-width: 1200px){
  .header-container.type3 .header #search_mini_form{
    width:0px;
  }
  .header .form-search .search-autocomplete{
    width:210px!important;
  }
}
@media (min-width:1200px){
  .product-view .add-to-links{
    float:right;
    margin-top: -1px;
}
}
  .header-container.type3 .search-area{
    margin-right:20px;
    margin-bottom:5px;
  }

@media (max-width:415px){
    .header-container.type3 .cart-area{


      margin: 30px 0;
    }
    .header-container.type3 .menu-icon{
      padding: 5px;
      float:left;
      margin-top: 25px;
      margin-bottom: 0;
    }
    .header >.logo{
            padding-left:20px;
    }
    .header-container.type3 .search-area{
    margin: 28px 15px 0px 0px;
    }
  .homepage-bar .col-md-4{
      width: 100%;
      text-align: center;
        height: auto!important;
      }
      .homepage-bar .text-area{
        text-align: center;
      }
  .homepage-bar .text-area h3{
    font-size: 14px;
  }

        .product-view  .product-tabs>ul li{
          width: 49.5%;
          text-align:center;
  }
  .header>.logo{
        margin: 30px 10px 30px 0;
  }
  .header-container.type3 .header .form-search{
    width:200px;
        right: 0px;
  }
  .header-container.type3 .header #search_mini_form{
    width:0;
  }
.header-container.type3 .header .form-search:before{
  right:15px;
}
}

.sidebar .custom-block>div h3{
  margin-left:60px;
}
.sidebar .custom-block>div p{
  margin-left:60px;
  margin-top:7px;
}
.cms-porto-home-6 .item:hover .item-area{
  border:0;
}
@media (min-width:980px) and (max-width:991px){
  #billing-new-address-form input[title="ÃƒÂÃ…Â¡ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¼ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â°ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸Ãƒâ€˜Ã‚Â"]{
          margin-top: 42px;
}
}
@media (min-width:992px){
  #billing-new-address-form input[title="ÃƒÂÃ…Â¡ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¼ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â°ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸Ãƒâ€˜Ã‚Â"]{
          margin-top: 21px;
}
}
@media (max-width: 768px){
    .catalog-product-view span.delivery-product-icon{
      right:20px;
    }
    .catalog-product-view .product-label span.topselling-product-icon{
      right:0;
      top: -15px;

      }
     /* .catalog-product-view span.sale-product-icon{
        padding-right:55px;
      }*/
      .catalog-product-view   span.new-product-icon{
          right: 0;
        }
  .product-view .add-to-links{
  display:block;
  float:none;
  text-align:center;
  padding-top: 4px;
}
}
@media (max-width:991px){
    .product-view .add-to-links{
      padding-top: 4px;
    margin-left: -7px;
}
     .header>.logo{
      float:left;
    }
    .fancybox-nav span {
    visibility: visible;
    }
    .fancybox-outer a.close{
      padding: 10px 15px 5px 5px;
    }
          .homepage-bar .col-md-4{
     float:none;
     display:inline-block;
  }
    .header-container .top-links-icon{display:inline-block}
     .header-container.type1 .links,.header-container.type2 .links,.header-container.type3 .links,.header-container.type4 .links,.header-container.type6 .links,.header-container.type14 .links,.header-container.type7 .links,.header-container.type13 .links,.header-container.type9 .links,.header-container.type10 .links{display:none;position:absolute;right:0;z-index:9;background-color:#fff !important;border-radius:3px;margin:0;padding:5px 0;text-align:right;border:1px solid #ccc}
    .header-container.type1 .links li,.header-container.type2 .links li,.header-container.type3 .links li,.header-container.type4 .links li,.header-container.type6 .links li,.header-container.type14 .links li,.header-container.type7 .links li,.header-container.type13 .links li,.header-container.type9 .links li,.header-container.type10 .links li{display:block;border:0;padding:0}
    .header-container.type1 .links li a,.header-container.type2 .links li a,.header-container.type3 .top-links ul.links li a,.header-container.type4 .links li a,.header-container.type6 .links li a,.header-container.type14 .links li a,.header-container.type7 .links li a,.header-container.type13 .links li a,.header-container.type9 .top-links ul.links li a,.header-container.type10 .top-links ul.links li a{color:#777 !important;white-space:nowrap;padding:0 10px;display:block;transition:all 0.2s;font-weight:400}
    .header-container.type1 .links li:hover a,.header-container.type2 .links li:hover a,.header-container.type4 .links li:hover a,.header-container.type6 .links li:hover a,.header-container.type14 .links li:hover a,.header-container.type7 .links li:hover a, .header-container.type13 .links li:hover a{background-color:#ccc !important;color:#fff !important;text-decoration:none}
}
.header .form-search .search-autocomplete {

    left: 16px!important;
    width: 400px!important;
    }

  .homepage-bar .row{
    text-align: center;
  }

div#search_autocomplete img {
    float:left;
}
.mini-cart .actions{
  padding: 0 10px;
}
.mini-cart .actions a{
  width:49%;
}
.category-products .products-grid li.item .details-area .product-name{
  min-height: 60px;
  display: block;
}

.item:hover .item-area .product-image-area{
  border:1px solid #ddd;
  border-radius:7px;
}

  .opc-index-index .opc-wrapper-opc .opc-col-left .fields .field:first-child {
      margin-right: 12px;
  }
  .shipping-block label[for="s_method_novaposhta_type_4"],
  .shipping-block label[for="s_method_flatrate_flatrate"],
  .form-list label[for="billing:create_account"]{
    max-width: 90%;
  }
  #novaposhta-delivery-date-cost{
    display:none!important;
  }
  .sp-methods .price{
    display: none;
  }
  label[for=s_method_flatrate_flatrate] .price{
    display: inline-block;
  }
  .item:hover .item-area{
      box-shadow: none;
  }

@media (min-width:768px){
.contacts-index-index .form-list button.button{
      margin-top: 15px;
    }
  }
/*.addthis_toolbox.addthis_default_style{
  display:none;
}*/
.sidebar .sidebar-filterproducts.custom-block{
  background: none;
}
.catalog-product-view .sidebar .custom-block{
    background: none;
}

/*.addthis_toolbox.addthis_default_style{
  display:none;
}*/
.sidebar .sidebar-filterproducts.custom-block{
  background: none;
}
.sidebar .block-manufacturer hr{
  display: none;
}
.testimonial-form-index .testimonial-submit {
    width: 100%;
    max-width: 100%;
}
.testimonial-submit .form-list li .std-input-box{
  max-width: 100%;
}
.testimonial-submit .form-list li.required-std .std-input-box .required-entry{
  max-width: 100%
}
.menu.side-menu>li:nth-child(5) .nav-sublist-dropdown{
      top:-130px;
}

@media (max-width: 1200px) and (min-width: 991px){
  .homepage-bar .text-area{
  max-width: 80%;
}
.homepage-bar .text-area .h3{
  font-size: 12px;
}
.menu.side-menu>li.menu-full-width .nav-sublist-dropdown{
  width:720px;
  padding:0;
}
.menu.side-menu>li.menu-full-width:nth-child(5) .nav-sublist-dropdown{
    top: -152px;
}
}
.footer-middle .block.block-subscribe .input-box button{width: 85px;margin-left: -85px;}
.footer-middle .block.block-subscribe .input-box button span{min-width: 85px;/* padding-left: 2px; */}
.testimonial-form-index .testimonial-submit .form-list li{
  float:left;
}
.testimonial-form-index .testimonial-submit .form-list li.required-std{
  float:right;

}
.testimonial-form-index .testimonial-submit .form-list li{
  font-size:13px;
}
.back-link a{
      display: block;
    border: 0;
    background: #08c;
    padding: 0 15px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    line-height: 38px;
    border-radius: 5px;
}

.testimonial-form-index .testimonial-submit{
  max-width:1200px;
}

.testimonial-form-index .testimonial-submit .form-list{
  width:600px;
  max-width:100%;
}
.testimonial-submit .testim-col-right{
  float:left;
  width: 500px;

  max-width:100%;
}
.testimonial-submit .testim-col-left{
    float:left;
  max-width:100%;
}
@media( max-width:1200px){
  .testimonial-submit label[for="testimonial"]{
   float: left;
 }
}
.testimonial-submit label[for="testimonial"]{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.testimonial-submit label[for="testimonial"] em{
  color: red;
}
#testimonial{
      max-width: 100%;
}
#at4-share{
  display:none;
}
.at4-share-outer{
  display:none;
}
@media (max-width: 480px){
   .back-link a{
    float: none;
    width: 100%;
    margin: 0 0 5px;
}
#testimonial-form .back-link{
  float:none;
}
}
   @media (min-width:992px) and (max-width:1200px){
   .cms-porto-home-6 .submit-testimonial button.button{
       text-align:center;
       float:none;
       display:inline-block;
       margin: 5px auto;
   }

 }
    .submit-testimonial{
       text-align:center;
   }
   @media (min-width:1201px){
   .submit-testimonial button.button:nth-child(2){
float: right;
}
}
/*.owl-theme .owl-controls .owl-page{
  margin-right:10px;
}*/

#wishlist-table td.last{
  text-align:center;
}

#wishlist-table .icon-pencil{
  display:none;
}
#products-list .item:hover .item-area{
border: none;
border-radius:7px;}

.wishlist-index-index .back-link{
  float:right;
}
#wishlist-table .product-image{
  text-align: center;
}
.product-view .product-img-box > ul.etalage {
    /* height: auto !important; */
}

.product-view .product-img-box li.etalage_thumb.etalage_thumb_active {
    position: relative !important;
}
#testimonials-slider-demo-6 .submit-testimonial button.button{
  float:none;
}
.cms-porto-home-6 .submit-testimonial button.button:last-child{
  display:none;
}

.pager .limiter {
    float: none;
    margin: 10px;
  }
  .customer-testimonials .pager{
    text-align:center;
  }
  .customer-testimonials .thumbnail figcaption{
    display:none;
  }
  .ratings-table{
        margin: 20px 0 5px;
  }
 /* #advice-validate-rating-validate_rating{
    margin-bottom:25px;
  }*/
  #review-form label[for="nickname_field"]{
    margin-top:15px;
  }
@media (max-width:480px){
    #search_autocomplete{
      width:80%!important;
    }
    .review-menu-block a.review-total{
  width:160px!important;
  }
  #addTagForm .button {
    margin-top: 15px;
    clear: both;
    float: left;
}
}
  .opc-wrapper-opc .validation-advice{
  padding-left:10px!important;
  }
.testimonial-submit .input-box-captcha .required-entry{
     padding: 0 8px;
    line-height: 24px;
}
@media (min-width:700px){
#testimonial-form button.button{
  float:left;
  margin-left:20px;
}}

  .compare-table a.product-image{
    height:135px;
    line-height:135px;
  }
  .compare-table tr.product-img-row .product-image img{
  max-height: 100%;
  width:auto;
  vertical-align:middle;
 }
}
@media (min-width:768px) and (max-width: 855px){
  .compare-table a.product-image{
    height:160px;
    line-height:160px;
  }
}
@media (min-width: 855px){
  .compare-table a.product-image{
    height:240px;
    line-height:240px;
  }
}
@media (min-width:1200px){
#opc-address-form-billing .form-list label[for="billing:email"].required em{
  right:-12px;
}}
.wishlist-index-index .my-account .back-link{
  float:left;
}
.wishlist-index-index .my-account .buttons-set button.button{
  float:left;
  margin-left:0;
  margin-right:10px;
  margin-bottom: 5px;
}
.customer-account-index #my-orders-table td:nth-child(5){
width: 85px;
}
#advice-validate-email-email{
  font-weight:normal;
}

.compare-popup #compare-items .product-name a{
  max-width: 240px;
    display: block;
}
.postTitle h1,.postTitle span a{
      color: #08c;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    padding: 0;
}
.h2{
      font-size: 18px;
    font-weight: 400;
    margin: 0 0 5px;
    margin-bottom: 15px;

    line-height: 1.35;
    color: #777;
}
.product-name span{
      font-size: 18px;
    font-weight: 400;
 }
 .menu.side-menu>li:last-child .nav-sublist-dropdown,.menu.side-menu>li:nth-last-child(2) .nav-sublist-dropdown{
  top:0;
  bottom:auto;
 }
/*.product-name{
  max-width: 160px;
}*/
@media (max-width:640px){
  .col-main > .category-image{
    /* display:none; */
  }
}

.main-nav .menu > li{
  max-width: 30%;
  line-height:1.25em;
 }
.block1 .col-sw-6{
  width: 25%;
}

.main-nav .menu > li a{
    text-align: center;
  }
.header-container.sticky-header .header-wrapper .main-nav .menu > li{
  max-width: 14.5%;
  line-height: 1.25em;}
.header-container.sticky-header .header-wrapper {
         padding-left: 150px;}
.header-container.type3 .main-nav ul.menu>li>a{
  margin-right:0;
  text-align: center;
}
.header-container.sticky-header .main-nav ul.menu>li.menu-full-width:first-child>a{
  padding-left:150px;
}
 ul.messages, .messages li{
  list-style:none!important;
}
.products-grid .actions .clearer{
  display: none;
}
.products-grid .product-name{
max-width:none;
}
.category-products .products-grid li.item:hover .details-area{
  border-bottom:1px solid #eee;
}

.widget-viewed .product-image{
  margin: 0 auto;
}
.widget-viewed .details-area{
  text-align: center;
}
@media (min-width:769px) and (max-width: 991px){
  .widget-viewed .item:hover .details-area .actions a.addtowishlist,.widget-viewed .item .details-area .actions a.addtowishlist{
      right: 30px;
  }
  .catalog-product-view .widget-viewed .item .details-area .actions  .comparelink,.catalog-product-view .widget-viewed .item:hover .details-area .actions  .comparelink{
      left: 30px;
  }
  .homepage-bar .col-md-4:first-child{
    margin-left:30px;
  }
}
@media (min-width:320px) and (max-width: 768px){
.widget-viewed .item:hover .details-area .actions a.addtowishlist,.widget-viewed .item .details-area .actions a.addtowishlist{
  right: 30px;
  display: inline-block;
}
  .catalog-product-view .widget-viewed .item .details-area .actions  .comparelink,.catalog-product-view .widget-viewed .item:hover .details-area .actions  .comparelink{
  left:30px;
  float:none;
  display: inline-block;
}
}
@media (max-width:540px){
  .ratings-table.data-table .nobr{
    font-size:0;
  }
  .ratings-table.data-table td {
    padding: 5px 0;
  }
  .catalog-product-view #oneclickorder-form-wrapper-open span{
    font-size:12px;
  }
  .catalog-product-view #oneclickorder-form-wrapper-open{
      clear: both;
      padding-top: 15px;
      padding-left: 70px;
      width: 190px;
  }
  .add-to-cart button.button span{
        font-size:12px;
  }
  .catalog-product-view .add-to-cart button.button{
        width:110px;
  }
    .homepage-bar .row{
    text-align:center;
  }
  .homepage-bar .col-md-4{
    padding-left:0!important;
     padding-right:0!important;
     text-align:center;
     float:none;
     display:inline-block;
  }

   .homepage-bar .icon-dollar,.homepage-bar .icon-truck,.homepage-bar .icon-lifebuoy{
     float:none;
   }
   .homepage-bar .text-area{
     width:100px;
     float:none;
     text-align:center;
     height:auto;
   }
}
@media (min-width:415px) and (max-width: 991px){
  .header .logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width:489px){
    .homepage-bar{
      height:120px;
    }}

.header-container.type3 .main-nav ul.menu >li{
  width:auto;
  vertical-align: top;
  margin-top: 10px;
}
.header-container.type3 .main-nav ul.menu >li:nth-child(2) a,
.header-container.type3 .main-nav ul.menu >li a{
    line-height:16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right:16px!important;
}
/*.header-container .header-wrapper .main-nav .menu > li a:after{
    line-height:64px;
    top:6px;
    right:0;
}
.header-container.type3 .main-nav ul.menu >li:first-child a,
.header-container.type3 .main-nav ul.menu >li:last-child a{
    line-height:64px;
    padding-top: 0;
    padding-bottom: 0;
}
.header-container.type3 .main-nav ul.menu >li:nth-child(2) a,
.header-container.type3 .main-nav ul.menu >li:nth-child(6) a,
.header-container.type3 .main-nav ul.menu >li:nth-child(4) a{
    padding-right:0px!important;
}
.header-container.type3 .main-nav ul.menu >li:nth-child(2),
.header-container.type3 .main-nav ul.menu >li:nth-child(3),
.header-container.type3 .main-nav ul.menu >li:nth-child(5),
.header-container.type3 .main-nav ul.menu >li:nth-child(6){
  max-width:112px;
}
.header-container.type3 .main-nav ul.menu >li:nth-child(4){
  max-width:160px;
}

.header-container.type3 .main-nav ul.menu >li:nth-child(7){
   max-width:125px;
}*/
.header-container.type3 .main-nav ul.menu:after{
  display:inline-block;
  content:"";
  width:100%;
  height:1px;
  clear:both;
}
.header-container.type3 .main-nav ul.menu{
    text-align: justify;
    max-height: 64px;
}
.header-container.type3.sticky-header .main-nav ul.menu{
  max-height: none!important;
}
.header-container.type3.sticky-header .main-nav ul.menu >li{
  max-width:none!important;
}
.header-container.type3.sticky-header .main-nav ul.menu >li a:after{
  top: 6px;
  line-height: 22px;
}

.header-container.type3.sticky-header .main-nav ul.menu{
  max-height: none!important;
  max-width:95%;
}
.header-container.type3.sticky-header .main-nav ul.menu:after{
  display:none;
}
.header-container.sticky-header .main-nav ul.menu>li:hover>a{
  padding-bottom: 0!important;
}
@media (max-width:365px){
    .header-container.type3 .cart-area{
      margin: 20px 0 0;
    }
    .header >.logo{
      padding-left:10px;
      padding-top:5px;
      max-width:125px;
    }
    .header-container.type3 .search-area{
      margin-top:20px;
    }
    .header-container.type3 .search-area .form-search{
      right:-30px
    }
    .top-links{
      padding-left:5px;
    }
    .header-container.type3 .mybag-link i{
      font-size:28px;
      margin-top:5px;

    }
    .header-container.type3 .mybag-link .cart-qty{
      font-size:15px;

    }
    .header-container.type3 .mybag-link span{
      font-size:0;
    }
    .header-container.type3 .mybag-link .cart-info{
      top:52%;
    }
    .header >.logo{
      margin-bottom:20px;
      margin-top:20px;
    }
    .header-container.type3 .menu-icon{
      margin-top:15px;
    }
}
#oneclickorder-form-wrapper-open span{
  background:#37d10d;

}

#at4m-mobile-container{
  z-index:10!important;
  display: none!important;
}
#totop{
  z-index:15000;
}
.header-container.type3.sticky-header .main-nav ul.menu{

}
.header-container.type3.sticky-header .main-nav ul.menu > li > a{
    font-size:10px;
    line-height:18px;
}
.header-container.type3.sticky-header .main-nav ul.menu > li:first-child > a,
.header-container.type3.sticky-header .main-nav ul.menu > li:last-child > a{
line-height:12px;
}


.header-container.type3.sticky-header .main-nav ul.menu > li:first-child,
.header-container.type3.sticky-header .main-nav ul.menu > li:last-child{
  width:120px;
}
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(2){
    width:90px;

}
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(4){
  width:105px;
}
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(5),
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(3),
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(7),
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(6){
  width:95px;
}
.header-container.type3.sticky-header .main-nav ul.menu > li a{
    padding: 0px 10px 0 0!important;
}
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(6) > a,
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(4) > a,
.header-container.type3.sticky-header .main-nav ul.menu > li:nth-child(2) > a{
    padding-right:0!important;
}
.header-container.type3.sticky-header .main-nav ul.menu{
  margin-left:15%;
  margin-right:6%;
  text-align:justify;
  height: 40px;
}
.header-container.type3.sticky-header .main-nav ul.menu:after{
  display:inline-block;

}
.header-container.sticky-header .main-nav ul.menu>li>a:after{
  right:3px!important;
}
.header-container.sticky-header .main-nav ul.menu>li:nth-child(5)>a:after,
.header-container.sticky-header .main-nav ul.menu>li:nth-child(7)>a:after{
  right:0px!important;
}
.header-container.sticky-header .main-nav ul.menu>li:first-child>a:after,
.header-container.sticky-header .main-nav ul.menu>li:last-child>a:after{
  right:-3px!important;
}
.header-container.sticky-header .main-nav .sticky-logo{
 margin-bottom:0;
}
.page{
webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.header-container.sticky-header .header-wrapper{
  position: relative !important;
}
.header-container.sticky-header .menu-wrapper .mini-cart{
 top:-100px;
}

.product_gift table tbody tr td:nth-child(3) div{
  width: 130px !important;
}
.product_gift tr{
  width: 100% !important;
}
.product_gift {

}
.product-view .product-labels .product-label{
  width: 50%;
}
h2.sidebar-title, .h2.sidebar-title {
    font-size: 17px;
}
@media  (max-width: 991px){
  .owl-top-narrow .owl-controls{
        right: -20px !important;
  }
}
.header-container.type3 .main-nav ul.menu >li:nth-child(2) a, .header-container.type3 .main-nav ul.menu >li a{
  padding-right: 16px !important;
}
.menu li:nth-child(2){
  padding-top: 10px !important;
}
/*.menu li:nth-child(2) a:after{
  top: -1px !important;
}*/
    .subcategories{
        overflow: hidden;
    }
   .menu-wrapper .menu li:nth-child(2){
      padding-top: 0 !important;
    }
.menu-wrapper .menu>li:nth-child(2){
  padding-top: 10px !important;
}
.home-side-menu .menu li:nth-child(2) a:after {
    top: 16px !important;
}
/* .menu li:nth-child(2) a:after {
    top: 16px !important;
}*/
.header-container.type3 .main-nav ul.menu >li:nth-child(2), .header-container.type3 .main-nav ul.menu >li:nth-child(3), .header-container.type3 .main-nav ul.menu >li:nth-child(5), .header-container.type3 .main-nav ul.menu >li:nth-child(6){
  padding-top: 0 !important;
}
/*.menu-wrapper .menu >li:nth-child(3){
max-width: 140px !important;
}*/
.menu-wrapper .menu >li:nth-child(4) a{
  padding-right: 5px !important;
}
/*.menu-wrapper .menu >li:nth-child(2) a:after{
  margin-top: -16.5px !important;
}*/
/*.menu-wrapper .menu >li:nth-child(4), .menu-wrapper .menu >li:nth-child(7){
  padding-top: 8px !important;
}*/
/*.header-container .header-wrapper .main-nav .menu > li:nth-child(4) a:after {
    top: -1px;
    right: -13px;
}*/
.header-container .header-wrapper .main-nav .menu > li:nth-child(6) a:after{
     right: -8px;
}
.header-container .header-wrapper .main-nav .menu > li:nth-child(7) a:after{
    top: -2px;
}
.youtube-class{
  position: absolute;
    z-index: 1;
        top: 10px;
    right: 5px;
    cursor: pointer;
}
span.new-product-icon{
  margin: 3px;
}
.youtube-class:after{
  content: "Видео инструкция";
  display: block;
  position: absolute;
  width: 150px;
  left: -83px;
  display: none;
  height: 15px;
  background: white;
}
.youtube-class:hover:after{
  display: block;
  transition: 0.5s;
}
.product-labels .product-label {
    position: static;
    float: none;
    margin: 2px;
    margin-bottom: 6px;
    overflow: hidden;
  }

.thumb_controls_new {
    width: 100%;
    display: none;
    position: absolute;
    bottom: -31px;
}
a.etalage-prev.thumb_prev {
    left: -30px;
    position: absolute;
}
a.etalage-next.thumb_next {
    position: absolute;
    right: 0;
}
.thumb_controls_new a i {
    font-size: 30px;
}

/*.product_gift table tbody tr td:first-child {
    background: url(/skin/frontend/default/default/images/box2.png) no-repeat !important;
    width: 80px;
    background-size: cover !important;
    height: 86px !important;
}*/

.youtube-class img{
width:40px
}
.menu li:nth-child(2){
  padding: 0 !important;
}
.you-img {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 200;
    display: block;
}

.you-img img {
    width: 43px;
}

.fluid-width-video-wrapper{
    display: block;
    padding-top: 56.25%;
    height: 480px;
    width: 854px;
    position: fixed;
    -webkit-box-shadow: -1px 6px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 22px 0px rgba(0,0,0,0.75);
    padding: 0 !important;
    z-index: 10000000000000000000;
    top: 24%;
    left: 27%;
}

.fluid-width-video-wrapper iframe{
  width: 100%;
  height: 480px;
}
/*Serg version*/
.overlay {
display: none;
z-index: 9998;
background: rgba(0, 0, 0, 0.66);
position: absolute;
left: 0;
width: 200%;
left: 0px;
top: 0;
height: 1800px;
opacity: 1;
}

.overlay.video-overlay {
position: fixed;
width: 200%;
height: 200%;
}

.close-video{
    position: fixed;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 45px;
    top: 18%;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: italic;
    background: white;
    right: 12% !important;
}
.footer-bottom .container div {
  display: none;
}
@media(min-width: 1550px){
  .close-video {
    position: fixed;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 45px;
    top: 18%;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: italic;
    background: white;
    right: 16% !important;
}
}
@media(min-width: 1754px){
  .close-video {
    position: fixed;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 45px;
    top: 18%;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: italic;
    background: white;
    right: 22% !important;
}
}
@media(min-width: 1830px){
  .close-video {
    position: fixed;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 45px;
    top: 18%;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: italic;
    background: white;
    right: 25% !important;
}
}

@media  (max-width: 991px){
.close-video{
    top: 16%;
    right: 0px;
}
}
.close-video i{
  color: #f92c2c;
font-size: 56px;
      margin-top: -9px;
}


/*Old version*/
/*
.overlay.video-overlay {
position: fixed;
width: 200%;
height: 200%;
}

.close-video{
    position: fixed;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 45px;
    top: 15px;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: italic;
    background: white;
    right: 15px;
}
.close-video i{
  color: #f92c2c;
font-size: 56px;
      margin-top: -11px;
}
*/

@media  (max-width: 1400px){
.fluid-width-video-wrapper{
    left: 20%;
}
}
@media  (max-width: 1200px){
.fluid-width-video-wrapper{
    left: 10%;
}
}

@media  (max-width: 980px){
.fluid-width-video-wrapper{
    width: 100% !important;
    left: 0;
}
}
/*Serg version*/
@media (max-width: 540px){
  .fluid-width-video-wrapper iframe{
    width: 100%;
    height: 250px;
  }

   .fluid-width-video-wrapper{
      height: 250px;
}

}

@media (max-width: 768px){
   .fluid-width-video-wrapper iframe{
      width: 100%;
      height: 250px;
      margin-left: 0;
      margin-top: 0;
  }
  .fluid-width-video-wrapper{
      height: 250px;
}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (orientation: landscape) {

    .fluid-width-video-wrapper iframe{
      width: 70%;
      height: 250px;
      margin-left: 15%;
      margin-top: 10%;
  }

    .close-video{
      top: 11%;
      right: 8%;
      z-index: 1000000;
    }

.fluid-width-video-wrapper{
    width: 100% !important;
    left: 0;
    top: 0;
    height: 0;
}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 560px)
  and (orientation: landscape) {
  .close-video{
      top: 10%;
      right: 8%;
      z-index: 1000000;
    }

    .fluid-width-video-wrapper iframe{
      width: 70%;
      height: 200px;
      margin-left: 15%;
      margin-top: 15%;
  }

}


.product-view .product-img-box .etalage a.fancy-images {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    display: none;
    padding-top: 93%;
    padding-left: 3%;
    height: 100%;
}

.product-view .product-img-box .etalage-control {
  z-index: 120;
}
@media  (max-width: 768px){
  .std iframe{
    width: 100%;
    height: 250px;
  }
  .product-view .add-to-links a{
    margin-left: 6px;
  }
  .row{
    margin-right: 0;
  }

  .product-view .product-img-box{
    margin-left: 6%;
  }

}

@media  (max-width: 460px){
  .std iframe{
    width: 100%;
    height: 200px;
  }
}
span.sale-product-icon{
  margin-left: 3px;
}

/*Serg version end*/

span.action-product-icon{
  left: 5px;
  bottom: 2px;
}
@media(max-width: 420px){
span.action-product-icon{
  display: none;
}
}
.brackets-discount {
  display: none;
}


.category-kreplenija-dlja-mikrovolnovok-svch .decs-none,
.category-kreplenija-dlja-televizora-potolochnye .decs-none,
.category-kreplenija-dlja-proektorov-videoproektorov .decs-none,
.category-kreplenija-dlja-dvd-dvd-tjunerov .decs-none,
.category-kabel-hdmi .decs-none,
.category-prezentacionnye-stojki .decs-none,
.category-tumby-pod-tv-uglovye .decs-none,
.category-tumby-s-kronshtejnom .decs-none,
.category-jekrany-dlja-proektorov-proekcionnye-jekrany .decs-none,
.category-hdmi-konvertery .decs-none,
.category-hdmi-splittery-razvetviteli .decs-none,
.category-hdmi-udliniteli-i-repitery .decs-none,
.category-hdmi-svitchi-perekljuchateli-kommutatory .decs-none,
.category-hdmi-matricy-matrichnye-perekljuchateli .decs-none,
.CLASSSSSSS .decs-none,
.CLASSSSSSS .decs-none,
.CLASSSSSSS .decs-none,
.CLASSSSSSS .decs-none,
.CLASSSSSSS .decs-none,
.CLASSSSSSS .decs-none
 {
  display: none;
}

img.techdata {
    width: 100%;
}

.nav-sublist.level1 {
    display: none;
}