.fixed-header .menu-icon {
	float: left;
	position: relative;
	top: 11px;
	left: 10px;
}
.fixed-header .menu{
	display: none;
}

.mobile-nav-shown .mobile-nav, .mobile-nav-shown .home-side-menu .mobile-nav {
  display: none;
}

body.boxed .page{width:760px}
.header-container .welcome-msg,.header-container .top-links-area+span.split{display:none}
.home-side-menu{display:none}
.add-to-cart button.button{width:140px}

.sm-bd-0{border:0!important}

.header-container .header-wrapper{display:none}

.header-container.type1 .header #search_mini_form{display:none}
.header-container.type1 .header .custom-block{display:none}
.header-container.type1 .menu-icon{display:inline-block}
.header-container.type1 .header-wrapper{display:none}

.header-container.type2 .header .logo{width:auto;float:left;margin:0}
.header-container.type2 .header .logo img{height:50px}
.header-container.type2 .cart-area{position:static;display:inline-block;float:left;margin:5px 10px}
.header-container.type2 .header .mini-cart{width:auto;position:relative;margin:5px 15px;float:right;top:0;left:0}
.header-container.type2 .header .search-area{float:right;margin:5px 0;line-height:40px;display:block;position:relative;left:0;top:0;z-index:2}
.header-container.type2 .header .search-area .search-icon{display:block}
.header-container.type2 .header #search_mini_form{display:none;margin:0}
.header-container.type2 .menu-icon{height:auto;padding:0;display:block;float:right;margin:15px 15px 15px 0}
.header-container.type2 .header .form-search{width:450px;position:absolute;right:-80px;top:40px;overflow:visible;border-width:5px;border-radius:25px;background-color:#fff}
.header-container.type2 .header .form-search:before{content:"";display:block;position:absolute;right:75px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}

.header-container.type3 .header .custom-block{display:none}
.header-container.type3 .header .logo img{/*height:50px*/}
.header-container.type3 .header #search_mini_form{display:none;width:0;margin:0}
.header-container.type3 .menu-icon{width:30px;text-align:center;line-height:40px;height:auto;padding:0;display:block;float:left;margin:35px 5px}
.header-container.type3 .cart-area{float:right;position:static;margin:35px 0}
.header-container.type3 .search-area{position:relative;left:0;top:0;float:right;margin:35px 10px;z-index:2}
.header-container.type3 .search-area .search-icon{display:block;line-height:40px}
.header-container.type3 .mini-cart{width:auto;position:relative;top:-3px;left:0}
.header-container.type3 .header .form-search{width:450px;position:absolute;right:-60px;top:40px;overflow:visible;border-width:5px;border-radius:25px;border-color:#ccc}
.header-container.type3 .header .form-search:before{content:"";display:block;position:absolute;right:60px;top:-20px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}

.header-container.type4 .header .custom-block{display:none}
.header-container.type4 .header .logo img{height:50px}
.header-container.type4 .header #search_mini_form{display:none;width:0;margin:0}
.header-container.type4 .menu-icon{width:30px;text-align:center;line-height:40px;height:auto;padding:0;display:block;float:right;margin:5px}
.header-container.type4 .cart-area{float:right;position:static;margin:5px 0}
.header-container.type4 .search-area{position:relative;left:0;top:0;float:right;margin:5px;z-index:2}
.header-container.type4 .search-area .search-icon{display:block;line-height:40px}
.header-container.type4 .mini-cart{width:auto;position:relative;top:-3px;left:0}
.header-container.type4 .header .form-search{width:450px;position:absolute;right:-50px;top:40px;overflow:visible;border-width:5px;border-radius:25px;border-color:#ccc}
.header-container.type4 .header .form-search:before{content:"";display:block;position:absolute;right:45px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}
.header-container.type4 .mybag-link{top:0}

.header-container.type5 .header .logo img{height:50px}
.header-container.type5 .search-area{float:right;left:0;top:0;margin:35px 20px;line-height:40px}
.header-container.type5 .cart-area{position:static;float:right;margin:22px 0}
.header-container.type5 .menu-area{padding:0;display:inline-block;vertical-align:middle}
.header-container.type5 .menu-icon{display:inline-block;height:auto;padding:0;margin:0 20px}
.header-container.type5 .custom-block{display:none}
.header-container.type5 .menu-area .links-area{display:inline-block;vertical-align:middle;padding:0;position:relative}
.header-container.type5 .top-links-icon{display:block;color:#08c}
.header-container.type5 .top-links-icon a{color:#08c}
.header-container.type5 .mini-cart{position:relative;top:0;left:0;margin:0;display:inline-block;vertical-align:middle;background-color:transparent;border:0}
.header-container.type5 .mybag-link{width:auto;top:-3px}
.header-container.type5 .topCartContent:before{right:15px}
.header-container.type5 .menu-area .links-area .links{display:none;position:absolute;right:0;z-index:9;background-color:#fff !important;border-radius:3px;margin:0;padding:5px 0;text-align:right;border:1px solid #ccc}
.header-container.type5 .menu-area .links-area .links li{border:0;padding:0;display:block}
.header-container.type5 .menu-area .links-area .links li a{color:#777 !important;white-space:nowrap;padding:0 10px;display:block;transition:all 0.2s;font-weight:400}
.header-container.type5 .menu-area .links-area .links li:hover a{background-color:#ccc !important;color:#fff !important;text-decoration:none}    
.header-container.type5 .header .form-search{left:auto;right:-195px}
.header-container.type5 .header .form-search:before{left:auto;right:190px}

.header-container.type6 .menu-icon{display:block;float:right;height:50px;line-height:50px;padding:0;margin:0 15px 0 20px}
.header-container.type6 .cart-area{position:static;margin:5px 0;margin-right:10px;float:right}
.header-container.type6 .header .search-area{float:right}
.header-container.type6 .header .search-area a.search-icon{margin:0}
.header-container.type6 .header .form-search{left:auto;right:-100px}
.header-container.type6 .header .form-search:before{left:auto;right:95px}

.header-container.type14 .menu-icon{display:block;float:right;height:50px;line-height:50px;padding:0;margin:0 15px 0 20px}
.header-container.type14 .cart-area{position:static;float:right}
.header-container.type14 .header .search-area{float:right}
.header-container.type14 .header .form-search{left:auto;right:-100px}
.header-container.type14 .header .form-search:before{left:auto;right:95px}

.header-container.type8 .menu-icon{display:inline-block;vertical-align:middle;height:auto;padding:0;margin-right:15px}
.header-container.type8 .header .form-search{right:-135px}
.header-container.type8 .header .form-search:before{right:140px}

.header-container.type9 .header .custom-block{display:none}
.header-container.type9 .header .logo img{height:50px}
.header-container.type9 .header #search_mini_form{display:none;width:0;margin:0;position:absolute;left:0;top:0}
.header-container.type9 .header #search_mini_form.show{display:inline-block!important}
.header-container.type9 .menu-icon{width:30px;text-align:center;line-height:40px;height:auto;padding:0;display:inline-block}
.header-container.type9 .search-area{left:0;top:0;margin:35px 10px;z-index:2}
.header-container.type9 .search-area .search-icon{display:inline-block;line-height:40px;vertical-align:middle}
.header-container.type9 .mini-cart{width:auto;position:relative;top:-3px;left:0}
.header-container.type9 .header .form-search{width:450px;position:absolute;left:-20px;top:40px;overflow:visible;border-width:5px;border-radius:25px;border-color:#ccc;text-align:left}
.header-container.type9 .header .form-search:before{content:"";display:block;position:absolute;left:15px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}
.header-container.type10 .header-wrapper{display:block}
.header-container.type10 .header .custom-block{display:none}
.header-container.type10 .header .logo img{height:50px}
.header-container.type10 .header #search_mini_form{display:none;width:0;margin:0}
.cms-index-index .header-container.type10 .dropdown-menu .menu-container>a{pointer-events:all}
.header-container.type10 .cart-area{float:right;position:static;margin:35px 0}
.header-container.type10 .search-area{position:relative;left:0;top:0;float:right;margin:35px 10px;z-index:2}
.header-container.type10 .search-area .search-icon{display:block;line-height:40px}
.header-container.type10 .mini-cart{width:auto;position:relative;top:-3px;left:0}
.header-container.type10 .header .form-search{width:450px;position:absolute;right:-60px;top:40px;overflow:visible;border-width:5px;border-radius:25px;border-color:#ccc}
.header-container.type10 .header .form-search:before{content:"";display:block;position:absolute;right:55px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:#ccc}

.main-nav,.fixed-header-area{display:none}

.category-products .products-grid.columns3 li.item{width:50%}
.category-products .products-grid.columns3 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns3 li.item.nth-child-2np1{clear:left}

.category-products .products-grid.columns4 li.item{width:50%}
.category-products .products-grid.columns4 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns4 li.item.nth-child-2np1{clear:left}

.category-products .products-grid.columns5 li.item{width:50%}
.category-products .products-grid.columns5 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-2np1{clear:left}

.category-products .products-grid.columns6 li.item{width:33.33%}
.category-products .products-grid.columns6 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-3np1{clear:left}

.category-products .products-grid.columns7 li.item{width:33.33%}
.category-products .products-grid.columns7 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-3np1{clear:left}

.category-products .products-grid.columns8 li.item{width:33.33%}
.category-products .products-grid.columns8 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-3np1{clear:left}

/* Flex grid Styles */
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-2np1{border-left-color:transparent}

.category-products .products-grid.flex-grid.columns4 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-2np1{border-left-color:transparent}

.category-products .products-grid.flex-grid.columns5 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-2np1{border-left-color:transparent}

.category-products .products-grid.flex-grid.columns6 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-3np1{border-left-color:transparent}

.category-products .products-grid.flex-grid.columns7 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-3np1{border-left-color:transparent}

.category-products .products-grid.flex-grid.columns8 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-3np1{border-left-color:transparent}
/* Flex grid Styles */

.category-banner .banner-text h2{font-size:28px}
.category-banner .banner-text p{font-size:16px}
.category-boxed-banner .banner-text h2{font-size:28px}
.category-boxed-banner .banner-text p{font-size:12px}
.category-boxed-banner .banner-text a.shop-now{margin-left:12px;font-size:12px}

.homepage-bar .col-md-4{border:0;text-align:left}

.owl-banner-carousel .content.type1 h2{font-size:36px}
.owl-banner-carousel .content.type1 p{font-size:15px}
.owl-banner-carousel .content.type1 a{font-size:10px}
.owl-banner-carousel .content.type2 h2{font-size:27.9px;border-top:3px solid #08c;padding-top:6px}
.owl-banner-carousel .content.type2 h3{font-size:18.36px}
.owl-banner-carousel .content.type2 p{font-size:8.4px}
.owl-banner-carousel .content.type2 a{font-size:10.8px}

.owl-banner-carousel .content-9.type1 em{font-size:15px;margin-bottom:-3px;margin-left:6px}
.owl-banner-carousel .content-9.type1 h2{font-size:50px}
.owl-banner-carousel .content-9.type1 p{font-size:26px}
.owl-banner-carousel .content-9.type1 a{font-size:12px}
.owl-banner-carousel .content-9.type1 a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:3px;margin-left:7px}
.owl-banner-carousel .content-9.type2 h3{font-size:27.9px}
.owl-banner-carousel .content-9.type2 span{font-size:8.4px}
.owl-banner-carousel .content-9.type2 a{font-size:9px}

.homepage-grid-banner .row{margin-left:-2px;margin-right:-3px}
.homepage-grid-banner .col-sm-1,.homepage-grid-banner .col-sm-2,.homepage-grid-banner .col-sm-3,.homepage-grid-banner .col-sm-4,.homepage-grid-banner .col-sm-5,.homepage-grid-banner .col-sm-6,.homepage-grid-banner .col-sm-7,.homepage-grid-banner .col-sm-8,.homepage-grid-banner .col-sm-9,.homepage-grid-banner .col-sm-10,.homepage-grid-banner .col-sm-11,.homepage-grid-banner .col-sm-12{padding-left:2px;padding-right:3px}
.homepage-grid-banner .col-sm-margin{margin-bottom:4px}
.homepage-grid-banner .content a.btn-default{font-size:10px;padding:4px 6px;padding-right:3px}
.homepage-grid-banner .grid1 .content h2{font-size:42.43px}
.homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-right:2.4px}
.homepage-grid-banner .grid2 .content h3{font-size:17.33px}
.homepage-grid-banner .grid2 .content h2{font-size:17.33px}
.homepage-grid-banner .grid2 .content p{font-size:10.55px;margin-bottom:9px}
.homepage-grid-banner .grid3 .content h2{font-size:27.6px}
.homepage-grid-banner .grid3 .content h5{font-size:9.6px;margin-bottom:18px}
.homepage-grid-banner .grid3 .content p{font-size:9.6px;margin-bottom:3px}
.homepage-grid-banner .grid3 .content h4{font-size:13.63px;margin-top:12px}
.homepage-grid-banner .grid3 .content h4>span{font-size:10.6px}
.homepage-grid-banner .grid3 .content h3{font-size:22.63px;margin-bottom:9px}
.homepage-grid-banner .grid3 .content h3>span{font-size:15.08px}
.homepage-grid-banner .grid4 .content h2{font-size:21px;margin-bottom:9px}
.homepage-grid-banner .grid4 .content p{font-size:14px;margin-bottom:7px}

.full-screen-slider .item > div.content > h2{font-size:47.02px;margin-bottom:14.04px}
.full-screen-slider .item > div.content > p{font-size:19.59px;margin-bottom:27.3px}
.full-screen-slider .item > div.content > a.btn-default{font-size:12px;padding:12px 40px;border-radius:6px}
.full-screen-slider .item > div.content em.type1{font-size:14.31px;margin-bottom:-3.9px}
.full-screen-slider .item > div.content em.type2{font-size:22.99px;margin-bottom:7.8px;margin-left:24px}
.full-screen-slider .item > div.content em.type3{font-size:13.79px;margin-top:7.8px}
.full-screen-slider .item > div.content h3{font-size:48.02px}
.full-screen-slider .item > div.content h4{font-size:40.86px;padding-right:27px}
.full-screen-slider .item > div.content .sale-bar a{font-size:16.35px;margin-left:18px}
.full-screen-slider .item > div.content .sale-bar a .icon-angle-down{font-size:9px;margin-left:7.8px}
.full-screen-slider .item > div.content .sale-bar>div.f-left{padding:11.5px 17.16px}
.full-screen-slider .item > div.content .sale-bar>div.f-left:first-child{padding:11.7px 31.2px}
.full-screen-slider .item > div.content .sale-bar{height:63.96px;margin-left:10.92px}
.full-screen-slider .item > div.content .sale-bar .triangle{height:63.96px;width:23.4px}
.full-screen-slider .item > div.content .sale-bar .triangle>div{height:32px;border-width:16px;border-top-width:32px;margin:0 -16px -16px 0}
.full-screen-slider .item > div.content .sale-bar .triangle>div:first-child{height:32px;border-width:16px;border-bottom-width:32px;margin:-16px -16px 0 0}
.full-screen-slider .item > div.content.content-2{margin-top:-58px}
.full-screen-slider .item > div.content.content-3{margin-top:-72px}

.slider-with-side .slider-area{padding:0 8px;float:none;width:100%}
.slider-with-side .side-area{padding:0;float:none;width:100%}
.slider-with-side .side-area .item1,.slider-with-side .side-area .item2,.slider-with-side .side-area .item3{padding:8px;width:33.33%;float:left;margin:0}
.slider-with-side .side-area .item1 .content{bottom:20px;left:20px}
.slider-with-side .side-area .item2 .content{bottom:20px;left:15px}
.slider-with-side .side-area .item3 .content{bottom:20px;left:20px}

.slide3-2-content em{font-size:14px;margin-left:2px;margin-bottom:3px}
.slide3-2-content h2{font-size:38px;margin-bottom:3px}
.slide3-2-content p{font-size:29px;margin-bottom:20px}
.slide3-2-content a{font-size:12px}
.slide3-2-content a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:2px;margin-left:7px}

#banner-slider-demo-1 .slide1-content img.quote{width:30px}
#banner-slider-demo-1 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-1 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-1 .slide1-content p{font-size:18px}
#banner-slider-demo-1 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-1 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-1 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-1 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-1 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-1 .slide3-content em{font-size:20px}
#banner-slider-demo-1 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-1 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}

#banner-slider-demo-14 .slide1-content img.quote{width:30px}
#banner-slider-demo-14 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-14 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-14 .slide1-content p{font-size:18px}
#banner-slider-demo-14 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-14 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-14 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-14 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-14 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-14 .slide3-content em{font-size:20px}
#banner-slider-demo-14 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-14 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}

#banner-slider-demo-13 .slide1-content img.quote{width:30px}
#banner-slider-demo-13 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-13 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-13 .slide1-content p{font-size:18px}
#banner-slider-demo-13 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-13 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-13 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-13 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-13 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-13 .slide3-content em{font-size:20px}
#banner-slider-demo-13 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-13 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}

.menu.side-menu{display:none}
.home-side-menu .mobile-nav{display:block;height:auto}
.sm-xs-margin-bottom{margin-bottom:20px}

.cart .crosssell li.item:nth-child(2n+1){clear:both}

.parallax{background-position:center center !important}
.parallax-category-banner .parallax{padding:50px 0}
.parallax-content h2{font-size:38px}
.parallax-content p{font-size:20px}

.footer-top-subscribe h4{margin: 10px 0}
.footer-top-subscribe .input-box{margin: 10px 0}

#banner-slider-demo-11 .content-1{padding:25px 15px 10px;margin-left:-122px;margin-top:-75px}
#banner-slider-demo-11 .content-1>div:first-child{padding-right:7px}
#banner-slider-demo-11 .content-1 p{font-size:16px;margin-left:5px}
#banner-slider-demo-11 .content-1 h3{font-size:58px}
#banner-slider-demo-11 .content-1 h3 b{margin-top:-17px}
#banner-slider-demo-11 .content-1 em{font-size:14px;margin-right:3px}
#banner-slider-demo-11 .content-1 h4{font-size:26px}
#banner-slider-demo-11 .content-1 h5{font-size:14px;margin-top:-2px}
#banner-slider-demo-11 .content-2{right:20px;bottom:20px}
#banner-slider-demo-11 .content-2>div{padding:15px 10px}
#banner-slider-demo-11 .content-2>div:first-child{margin:-2px 0;padding-left:20px}
#banner-slider-demo-11 .content-2 p{font-size:15px;margin-left:1px}
#banner-slider-demo-11 .content-2 h3{font-size:38px}
#banner-slider-demo-11 .content-2 em{font-size:12px;margin-right:2px}
#banner-slider-demo-11 .content-2 h4{font-size:26px}
#banner-slider-demo-11 .content-2 h5{font-size:13px;margin-top:-2px}
#banner-slider-demo-11 .content-2 a{font-size:10px;margin-right:-6px}

#multiship-addresses-table{}
#multiship-addresses-table select {max-width:250px}
#multiship-addresses-table thead{display: none}
#multiship-addresses-table tbody tr{position: relative;display: block;clear: both;padding: 25px 0;border-bottom: 1px solid #dcdcdc}
#multiship-addresses-table tbody tr.first{border-top:1px solid #dcdcdc}
#multiship-addresses-table tbody td{display: block;padding: 5px 0;width: 100%;border:0;text-align: center !important}
#multiship-addresses-table a.btn-remove{position: absolute;right:10px;top:10px}
#multiship-addresses-table .item-options dd{padding:0}

.checkout-progress{padding:0}
.multiple-checkout #review-order-form .data-table thead{display: none}
.multiple-checkout #review-order-form .data-table tbody tr{position: relative;display: block;clear: both;padding: 25px 0;border-bottom: 1px solid #dcdcdc}
.multiple-checkout #review-order-form .data-table tbody tr.first{border-top:1px solid #dcdcdc}
.multiple-checkout #review-order-form .data-table tbody td{display: block;padding: 5px 0;width: 100%;border:0;text-align: center !important}
.multiple-checkout #review-order-form .data-table .item-options dd{padding:0}
.multiple-checkout #review-order-form .data-table tfoot{border-left:1px solid #d9dde3;border-right:1px solid #d9dde3}
.multiple-checkout #review-order-form .data-table tfoot td{display: block;padding: 5px 0;width: 100%;border:0;text-align: center !important}

#parallax_02{padding:150px 0}
#parallax_03{padding:150px 0}

.header-container.type12,.header-container.type12.fixed-bottom{position:relative;left:0;top:0;min-height:0;width:auto}
body.side-header .top-container,body.side-header .main-container,body.side-header .footer-container{margin-left:0}
.header-container.type12 .header{text-align:left;padding:0 7px}
.header-container.type12 .switcher-area{text-align:left}
.header-container.type12 .switcher-area .mini-cart{float:right}
.header-container.type12 .header>.logo{margin:15px 0 20px;float:left}
.header-container.type12 .menu-icon{display:inline-block;height:auto;padding:0;width:25px}
.header-container.type12 .menu-icon a{color:#fff;line-height:25px}
.header-container.type12 .search-area{display:inline-block;width:auto;height:auto;margin:0}
.header-container.type12 .search-area a.search-icon{display:block;color:#fff;line-height:25px}
.header-container.type12 .header #search_mini_form{display:none;position:absolute;width:280px;right:-100px;top:30px}
.header-container.type12 .header .custom-block{display:none}
.header-container.type12 .top-links-area{display:inline-block;margin:0}
.header-container.type12 .top-links-area .top-links-icon{display:block}
.header-container.type12 .top-links-area .top-links-icon a{color:#fff}
.header-container.type12 .top-links-area .links{display:none;position:absolute;background-color:#fff;width:100px;box-shadow:0 1px 2px rgba(0,0,0,0.2);border-radius:3px;padding:5px 7px;left:0}
.header-container.type12 .top-links-area .links li{padding:0;border:0}
.header-container.type12 .top-links-area .links li a{color:#777}
.header-container.type12 .mobile-group{float:right;margin-top:25px;margin-right:5px}
.header-container.type12 .mobile-nav.side-block .sw-mobile-menu li>a{color:#fff}
.header-container.type12 .mobile-nav.side-block .sw-mobile-menu li .open-child{color:#fff}
.header-container.type12 .mini-cart .topCartContent{left:auto;right:0}
.header-container.type12 .mini-cart .topCartContent:before{left:auto;right:15px}


#banner-slider-demo-16 .slide1-content,#banner-slider-demo-16 .slide2-content{padding-left:0}
#banner-slider-demo-16 .text-content em{font-size:18px;margin:0;margin-bottom:-8px}
#banner-slider-demo-16 .text-content h2{font-size:60px;letter-spacing:-3px}
#banner-slider-demo-16 .text-content p {margin:0}
#banner-slider-demo-16 .text-content p span{font-size:18px;padding-left:6px}
#banner-slider-demo-16 .text-content p a{font-size:12px;padding:8px 20px;margin-left:10px;margin-top:5px}

.header-container.type10 .dropdown-menu .menu-container>.menu.side-menu {display: none !important}
.sticky-product{padding:15px 0}
.side-header .sticky-product{padding-top:60px}
.side-header .sticky-product > .container{width:100%;padding-left:15px}

.img-desc-home3{margin-top:-65px;padding:0 16px}
.img-desc-home3 h3{font-size:16px}
.img-desc-home3 hr{width:60px;margin:10px 0}
.img-desc-home3 p{font-size:10px}
.img-desc-home3 a{font-size:10px}

.top-newsletter #newsletter{width:160px}

.header-container.type3 .header .switcher-group{position:static;text-align:right}

 .header>.logo{
  float:left;
}
.header-container .top-links-icon{display:inline-block}
 .header-container.type1 .links,.header-container.type2 .links,.header-container.type3 .links,.header-container.type4 .links,.header-container.type6 .links,.header-container.type14 .links,.header-container.type7 .links,.header-container.type13 .links,.header-container.type9 .links,.header-container.type10 .links{display:none;position:absolute;right:0;z-index:9;background-color:#fff !important;border-radius:3px;margin:0;padding:5px 0;text-align:right;border:1px solid #ccc}
.header-container.type1 .links li,.header-container.type2 .links li,.header-container.type3 .links li,.header-container.type4 .links li,.header-container.type6 .links li,.header-container.type14 .links li,.header-container.type7 .links li,.header-container.type13 .links li,.header-container.type9 .links li,.header-container.type10 .links li{display:block;border:0;padding:0}
.header-container.type1 .links li a,.header-container.type2 .links li a,.header-container.type3 .top-links ul.links li a,.header-container.type4 .links li a,.header-container.type6 .links li a,.header-container.type14 .links li a,.header-container.type7 .links li a,.header-container.type13 .links li a,.header-container.type9 .top-links ul.links li a,.header-container.type10 .top-links ul.links li a{color:#777 !important;white-space:nowrap;padding:0 10px;display:block;transition:all 0.2s;font-weight:400}
.header-container.type1 .links li:hover a,.header-container.type2 .links li:hover a,.header-container.type4 .links li:hover a,.header-container.type6 .links li:hover a,.header-container.type14 .links li:hover a,.header-container.type7 .links li:hover a, .header-container.type13 .links li:hover a{background-color:#ccc !important;color:#fff !important;text-decoration:none}

.cms-index-index .col-main > .std > .row > .col-md-9{
    float: none;
    margin: 0 auto;}
/*.cms-index-index .col-main > .std > .row > .col-md-3{
	display: none;
}*/
.cms-index-index .col-main > .std > .row > .col-md-3{
	    width: 70%;
	    float:none;
	    margin:0 auto;

}
.recent-posts .item .col-sm-5{
width:41.6%!important;
}
.recent-posts .item .col-sm-7{
	width:55%!important;
}
.item .details-area .actions a.addtowishlist{
	    visibility: visible;
    opacity: 1;
    filter: Alpha(Opacity=100);
    right: 0;
}
.item .details-area .actions a.comparelink{
	 visibility: visible;
    opacity: 1;
    filter: Alpha(Opacity=100);
    left: 0;
}