<div class="recent-posts">
<?php if ($posts = $this->getRecent()): ?>
<div class="owl-carousel">
<?php foreach ($posts as $post): ?>
    <div class="item">
        <?php
            $post_date = Mage::helper('core')->formatDate($post->getCreatedTime(), 'long', false)
        ?>
        <div class="row">
            <div class="col-sm-5">
                <div class="post-image">
                <?php
                    if($post_image = $post->getImage()){
                ?>
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_image; ?>" alt=""/>
                <?php
                    }
                ?>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="post-date">
                    <span class="day"><?php echo $post->getDay(); ?></span>
                    <span class="month"><?php echo $post->getMonthShort(); ?></span>
                </div>
                <div class="postTitle">
                    <span class="h2"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></span>
                </div>
                <div class="postContent"><?php echo $post->getShortContent(); ?></div>
                <a class="readmore" href="<?php echo $post->getAddress(); ?>"><?php echo $this->__("Read more") . " >";?></a>
            </div>
        </div>
    </div>
<?php endforeach; ?>
</div>
<button class="button" onclick="setLocation('<?= $this->helper('blog')->getRoute(); ?>')">
	<span>
		<span>
			<?php echo $this->__('Все статьи');?>					
		</span>
	</span>
</button>
<?php endif; ?>
</div>
