<?php
if ($product = Mage::registry('current_product')) :
    $categoriIds = $product->getCategoryIds();
    foreach($categoriIds as $nextCategorId) :
        $tmpCategory = Mage::getModel('catalog/category')->load($nextCategorId);
        $parentCategories = explode("/", $tmpCategory->getPath());
        if (in_array('191', $parentCategories)) :
            //<div class="brackets-discount-adv">При покупке любого кронштейна - скидка на второй 50%</div>
        ?>
            <div class="brackets-discount">
                <a href="<?=Mage::getBaseUrl()?>kronshtejny-dlja-televizora-dvd-tjunerov-proektorov-i-dr">
                    <img src="<?=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>wysiwyg/file_1.jpg"/>
                </a>
            </div>
        <?php
            break;
        endif;
    endforeach;
endif;
?>
