<!--@subject Consent Request @-->

<div>
    <p>We have recently updated our <a href="#">privacy policy</a>. Due to the changes related to the EU GDPR (General Data Protection Regulation) we are required to notify you about this update and are required to get your consent to the updated policy.</p>

    <p>In order to have your account still active with Amasty, to be able to download free updates and get support, it's necessary to read and agree with the updated privacy policy.</p>

    <p>There are no major differences, we still take care of all your personal data, we store
        it securely and use it only for processing your orders and support requests.</p>

    <a href="{{var accountUrl}}" style="font-weight: bold; font-size: 18px;">I agree and wish to keep my account</a>

</div>
