<?php
/**
 * Mageplaza_ActionsList extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post Category list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 */
?>
<?php $_categories = $this->getCategories(); ?>
<?php if ($_categories->getSize() > 0) : ?>
    <div class="block">
        <div class="block-title">
            <strong><span><?php echo Mage::helper('mageplaza_actionslist')->__('Categories') ?></span></strong>
        </div>
        <div class="categories-list-container">
            <ul>
                <?php foreach ($_categories as $_category) : ?>
                    <li class="category-list-item">
                        <a href="<?php echo $_category->getCategoryUrl() ?>">
                            <?php echo $_category->getName(); ?>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>

        </div>
    </div>
<?php endif; ?>
