<?php
/** @var $this Smasoft_Oneclickorder_Block_Form */
/** @var $helper Smasoft_Oneclickorder_Helper_Data */
$helper = Mage::helper('smasoft_oneclickorder');
$action = $this->getAction()->getFullActionName();

?>

<div id="oneclickorder-form-wrapper" class="<?php echo $this->getAction()->getFullActionName()?>" style="display: none;">
    <div id="oneclickorder-form-wrapper-close" onclick="jQuery('#oneclickorder-form-wrapper').hide();">X</div>
    <div class="oneclickorder-title"><?php echo $this->__('Consultation')?></div>
    <div class="descr">
        <?php echo $this->__('Manager will call you, knows all details and will help place your order.')?>
    </div>
    <form id="oneclickorder-form" action="<?php echo $this->getUrl('oneclickorder/index/saveOrder')?>" method="get" onkeypress="return event.keyCode != 13;">
        <div class="oneclickorder-fields">
            <img class="phone-icon" src="<?php echo $this->getSkinUrl('images/oneclickorder/telephone.png') ?>"/>
            +
            <?php //echo $this->getPhoneCodeHtml('oneclickorder[country]', 'oneclickorder-country', true, $helper->__('Code'))?>
            <input type="tel" maxlength="13" name="phone" class="ukr-phone required-entry oneclickorder-phone input-text"  placeholder="<?php echo $this->__('phone number')?>"/>
            <?php if ($this->isShowEmailField()): ?>
            <input type="text" name="email" class="validate-email oneclickorder-email input-text"  placeholder="<?php echo $this->__('email')?>"/>
            <?php endif; ?>
            <div class="comment-wrapper" id="oneclickorder-comment-wrapper" style="display: none;">
                <span class="comment"><?php echo $helper->__('Comment:')?></span>
                <textarea name="comment"><?php echo $this->getParentBlock()->__('SKU');?>: <?php echo $this->getParentBlock()->getProduct()->getSku()?></textarea>
            </div>
        </div>
        <div class="button-wrapper" id="oneclickorder-buttons-container">
            <div class="comment-toggle" title="<?php echo $this->__('Add comment')?>" style="display: none;">&nbsp;</div>
            <button type="button" class="button <?php echo $action=='checkout_cart_index' ? 'btn-proceed-checkout btn-checkout' : ''?>" name="submitOneclickOrder" onclick="oneClickOrder.saveOrder()"/>
                <span><span><?php echo $this->__('Order Now')?></span></span>
            </button>
        </div>
        <span class="please-wait" id="oneclickorder-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $helper->__('Submit Order...') ?>" title="<?php echo $helper->__('Submit Order...') ?>" class="v-middle" /> <?php echo $helper->__('Submit Order...') ?>
        </span>
    </form>
</div>
<script type="text/javascript">
	
	Validation.add("ukr-phone","<?=$this->__('Wrong phone number')?>",function(phone) {

		if (8 > phone.length || 13 < phone.length){
            return false;
        } else {
            return true;
        }

	});

    var oneClickOrder = {
        formInstance:new VarienForm('oneclickorder-form'),

        _processResponse:function (response) {
            
            Element.hide('oneclickorder-please-wait');
            Element.show('oneclickorder-buttons-container');
            $('oneclickorder-buttons-container').descendants().each(function(s) {
                s.disabled = false;
            });
                
            if (response.error) {
                Element.insert('messages_product_view', '<p style="font-size:20px;margin-bottom:10px;color:red;">' + response.error + '</p>');
                Element.show('messages_product_view');
                return false;
            }
            if (response.success) {
                if (response.message) {
                    Element.insert('messages_product_view', '<p style="font-size:20px;margin-bottom:10px;color:green;">' + response.message + '</p>');
                    Element.show('messages_product_view');
                }
                /*if (response.redirect) {
                    window.location.href = response.redirect;
                }*/
            }
            return true;
        },
        _afterSaveOrder:function (transport) {
            var response = {};
            try {
                response = transport.responseText.evalJSON();
            } catch (e) {
                response = transport.responseText;
            }
            if (this._processResponse(response)) {
                Element.hide('oneclickorder-form-wrapper');
            }
        },
        saveOrder:function () {
            if (this.formInstance.validator && this.formInstance.validator.validate()) {

                Element.show('oneclickorder-please-wait');
                Element.hide('oneclickorder-buttons-container');
                $('oneclickorder-buttons-container').descendants().each(function(s) {
                    s.disabled = true;
                });
                new Ajax.Request(this.formInstance.form.getAttribute('action'), {
                    method:'get',
                    parameters:this.formInstance.form.serialize(),
                    onComplete:this._afterSaveOrder.bind(this),
                    onFailure:function () {
                        location.href = BASE_URL;
                    }
                });
            }
        },
        toggleCommentBlock:function (event) {
            Element.toggle('oneclickorder-comment-wrapper');
        }
    };

    $$("#oneclickorder-form-wrapper .comment-toggle").invoke('observe', 'click', function () {
        oneClickOrder.toggleCommentBlock(this)
    });

</script>
