/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2018-06-07 10:10:23 */

.header-container.type1,
.header-container.type2,
.header-container.type3,
.header-container.type4,
.header-container.type5,
.header-container.type6,
.header-container.type14,
.header-container.type7,
.header-container.type13,
.header-container.type8,
.header-container.type9,
.header-container.type10,
.header-container.type11,
.header-container.type12,
.header-container.type1.sticky-header .header-wrapper,
.header-container.type2.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type5.sticky-header .header-wrapper,
.header-container.type6.sticky-header .header-wrapper,
.header-container.type14.sticky-header .header-wrapper,
.header-container.type7.sticky-header .header-wrapper,
.header-container.type13.sticky-header .header-wrapper,
.header-container.type8.sticky-header .header-wrapper,
.header-container.type9.sticky-header .header-wrapper,
.header-container.type11.sticky-header .header-wrapper,
.header-container.type12.sticky-header .header-wrapper{
    background-color:#bbb7ae;
}
.header-container.type1,
.header-container.type2,
.header-container.type3,
.header-container.type4,
.header-container.type5,
.header-container.type6,
.header-container.type14,
.header-container.type7,
.header-container.type13,
.header-container.type8,
.header-container.type9,
.header-container.type10,
.header-container.type11,
.header-container.type12
{
    background-image:url(//1pack.eu/media/porto/page/default/header_container_back_1.jpg);
    background-repeat: repeat;
}
.header-container.type2 .main-nav .menu-wrapper,
.header-container.type3 .main-nav,
.header-container.type4 .main-nav .menu-wrapper,
.header-container.type9 .main-nav .menu-wrapper,
.header-container.type10 .header-wrapper,
.header-container.type3.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type10.sticky-header .header-wrapper{
    background-color:#00af53;
}
.header-container.type1 .main-nav ul.menu>li:hover>a,.header-container.type1 .main-nav ul.menu>li.act>a,
.header-container.type2 .main-nav ul.menu>li:hover>a,.header-container.type2 .main-nav ul.menu>li.act>a,
.header-container.type3 .main-nav ul.menu>li:hover>a,.header-container.type3 .main-nav ul.menu>li.act>a,
.header-container.type4 .main-nav ul.menu>li:hover>a,.header-container.type4 .main-nav ul.menu>li.act>a,
.header-container.type5 .main-nav ul.menu>li:hover>a,.header-container.type5 .main-nav ul.menu>li.act>a,
.header-container.type6 .main-nav ul.menu>li:hover>a,.header-container.type6 .main-nav ul.menu>li.act>a,
.header-container.type14 .main-nav ul.menu>li:hover>a,.header-container.type14 .main-nav ul.menu>li.act>a,
.header-container.type7 .main-nav ul.menu>li:hover>a,.header-container.type7 .main-nav ul.menu>li.act>a,
.header-container.type13 .main-nav ul.menu>li:hover>a,.header-container.type13 .main-nav ul.menu>li.act>a,
.header-container.type8 .main-nav ul.menu>li:hover>a,.header-container.type8 .main-nav ul.menu>li.act>a,
.header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type9 .main-nav ul.menu>li.act>a,
.header-container.type10 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a,
.header-container.type11 .main-nav ul.menu>li:hover>a,.header-container.type11 .main-nav ul.menu>li.act>a,
.header-container.type12 .main-nav ul.menu>li:hover>a,.header-container.type12 .main-nav ul.menu>li.act>a{
    color:#150b00;
}
.header-container.type1 .header .form-search,
.header-container.type2 .header .form-search,
.header-container.type3 .header .form-search,
.header-container.type4 .header .form-search,
.header-container.type5 .header .form-search,
.header-container.type6 .header .form-search,
.header-container.type14 .header .form-search,
.header-container.type7 .header .form-search,
.header-container.type13 .header .form-search,
.header-container.type8 .header .form-search,
.header-container.type9 .header .form-search,
.header-container.type10 .header .form-search,
.header-container.type11 .header .form-search,
.header-container.type12 .header .form-search{
    background-color:#ffffff;
}
.header-container.type1 .header .form-search #cat,
.header-container.type2 .header .form-search #cat,
.header-container.type3 .header .form-search #cat,
.header-container.type4 .header .form-search #cat,
.header-container.type5 .header .form-search #cat,
.header-container.type6 .header .form-search #cat,
.header-container.type14 .header .form-search #cat,
.header-container.type7 .header .form-search #cat,
.header-container.type13 .header .form-search #cat,
.header-container.type8 .header .form-search #cat,
.header-container.type9 .header .form-search #cat,
.header-container.type10 .header .form-search #cat,
.header-container.type11 .header .form-search #cat,
.header-container.type12 .header .form-search #cat,
.header-container.type1 .header .form-search,
.header-container.type2 .header .form-search,
.header-container.type3 .header .form-search,
.header-container.type4 .header .form-search,
.header-container.type5 .header .form-search,
.header-container.type6 .header .form-search,
.header-container.type14 .header .form-search,
.header-container.type7 .header .form-search,
.header-container.type13 .header .form-search,
.header-container.type8 .header .form-search,
.header-container.type9 .header .form-search,
.header-container.type10 .header .form-search,
.header-container.type11 .header .form-search,
.header-container.type12 .header .form-search{
    border-color:#150b00;
}
.header-container.type1 .header .form-search:before,
.header-container.type2 .header .form-search:before,
.header-container.type3 .header .form-search:before,
.header-container.type4 .header .form-search:before,
.header-container.type5 .header .form-search:before,
.header-container.type6 .header .form-search:before,
.header-container.type14 .header .form-search:before,
.header-container.type7 .header .form-search:before,
.header-container.type13 .header .form-search:before,
.header-container.type8 .header .form-search:before,
.header-container.type9 .header .form-search:before,
.header-container.type11 .header .form-search:before,
.header-container.type12 .header .form-search:before,
.header-container.type10 .header .form-search:before{
    border-bottom-color:#150b00;
}
.header-container.type1 .header .form-search #cat,.header-container.type1 .header .form-search button.button,
.header-container.type2 .header .form-search #cat,.header-container.type2 .header .form-search button.button,
.header-container.type3 .header .form-search #cat,.header-container.type3 .header .form-search button.button,.header-container.type3 .header .search-icon,.header-container.type3 .menu-icon > a,
.header-container.type4 .header .form-search #cat,.header-container.type4 .header .form-search button.button,
.header-container.type5 .header .form-search #cat,.header-container.type5 .header .form-search button.button,
.header-container.type6 .header .form-search #cat,.header-container.type6 .header .form-search button.button,
.header-container.type14 .header .form-search #cat,.header-container.type14 .header .form-search button.button,
.header-container.type7 .header .form-search #cat,.header-container.type7 .header .form-search button.button,
.header-container.type13 .header .form-search #cat,.header-container.type13 .header .form-search button.button,
.header-container.type8 .header .form-search #cat,.header-container.type8 .header .form-search button.button,
.header-container.type9 .header .form-search #cat,.header-container.type9 .header .form-search button.button,.header-container.type9 .header .search-icon,.header-container.type9 .menu-icon > a,
.header-container.type10 .header .form-search #cat,.header-container.type10 .header .form-search button.button,
.header-container.type11 .header .form-search #cat,.header-container.type11 .header .form-search button.button,
.header-container.type12 .header .form-search #cat,.header-container.type12 .header .form-search button.button{
    color:#008acc;
}
.header-container.type1 .header .form-search #search,
.header-container.type2 .header .form-search #search,
.header-container.type3 .header .form-search #search,
.header-container.type4 .header .form-search #search,
.header-container.type5 .header .form-search #search,
.header-container.type6 .header .form-search #search,
.header-container.type14 .header .form-search #search,
.header-container.type7 .header .form-search #search,
.header-container.type13 .header .form-search #search,
.header-container.type8 .header .form-search #search,
.header-container.type9 .header .form-search #search,
.header-container.type10 .header .form-search #search,
.header-container.type11 .header .form-search #search,
.header-container.type12 .header .form-search #search{
    color:#150b00;
}
.header-container.type1 .mybag-link,.header-container.type1 .selectbox .select,.header-container.type1 .compare-link > a,
.header-container.type1 .top-links-icon,
.header-container.type12 .mybag-link,.header-container.type12 .selectbox .select,.header-container.type12 .compare-link > a,
.header-container.type12 .top-links-icon,
.header-container.type11 .mini-cart .mybag-link,.header-container.type11 .selectbox .select,.header-container.type11 .compare-link > a,
.header-container.type2 .mybag-link,
.header-container.type3 .mybag-link, .header-container.type3 .mybag-link .cart-qty,
.header-container.type4 .mybag-link,
.header-container.type5 .mybag-link,
.header-container.type6 .mybag-link,
.header-container.type14 .mybag-link i,.header-container.type14 .mybag-link .cart-info,
.header-container.type7 .mybag-link,
.header-container.type13 .mybag-link,
.header-container.type8 .mybag-link,.header-container.type8 .mybag-link .cart-info,.header-container.type8 .selectbox .select,.header-container.type18 .compare-link > a,
.header-container.type9 .mybag-link, .header-container.type9 .mybag-link .cart-qty,
.header-container.type10 .mybag-link, .header-container.type10 .mybag-link .cart-qty,
.header-container.type3.sticky-header .menu-wrapper .mybag-link .cart-qty{
    color:#ffffff;
}
.header-container.type1 .mybag-link i,.header-container.type1 .compare-link > a i,
.header-container.type12 .mybag-link i,.header-container.type12 .compare-link > a i,
.header-container.type11 .mini-cart .mybag-link i,.header-container.type11 .compare-link > a i,
.header-container.type2 .mybag-link i,
.header-container.type3 .mybag-link i,
.header-container.type4 .mybag-link i,
.header-container.type5 .mybag-link i,
.header-container.type6 .mybag-link i,
.header-container.type14 .mybag-link i,
.header-container.type7 .mybag-link i,
.header-container.type13 .mybag-link i,
.header-container.type8 .mybag-link i,.header-container.type8 .compare-link > a i,
.header-container.type9 .mybag-link i,
.header-container.type10 .mybag-link i,
.header-container.type3.sticky-header .menu-wrapper .mybag-link i{
    color:#008acc;
}
.main-nav .menu>li.menu-full-width .nav-sublist-dropdown,.main-nav .menu>li.menu-static-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-static-width .nav-sublist-dropdown{
}
#totop{
}
#totop:hover{
    background-color:#1a5c00;
}
    .page{
        }
    .product-view .box-up-sell > h2 span {
        }
