<div class="product-labels" style="display:none">
<?php
	//$_helper = $this->getData('catalogOutputHelper');
	$product = $this->getData('aProduct');
	$code = $this->getData('aCode');

	// Get the Special Price
	$specialprice = $product->getFinalPrice();
	$orgprice = $product->getPrice();
	// Get the Special Price FROM date
	$specialPriceFromDate = $product->getSpecialFromDate();
	// Get the Special Price TO date
	$specialPriceToDate = $product->getSpecialToDate();
	// Get Current date
	$today =  time();

	if ($specialprice<$orgprice){
		$save_percent = 100-round(($specialprice/$orgprice)*100);
		if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)){
			if(Mage::getStoreConfig("porto_settings/product_label/sale", $code)){
?>
			<div class="product-label" title="Скидка <?php echo "$save_percent","%";?>"><span class="sale-product-icon"><?php if(Mage::getStoreConfig("porto_settings/product_label/sale_label_type", $code)):?><?=$save_percent?><?php else: ?><?= Mage::getStoreConfig("porto_settings/product_label/sale_label_text", $code);?><?php endif; ?></span></div>
<?php
			}
		}
	}
?>
<?php
	$now = date("Y-m-d");
	$newsFrom= substr($product->getData('news_from_date'),0,10);
	$newsTo=  substr($product->getData('news_to_date'),0,10);
	if ($newsTo != '' || $newsFrom != ''){
		if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo))
		{
			if(Mage::getStoreConfig("porto_settings/product_label/new", $code)){
	?>
			<div class="product-label" title="Новинка"><span class="new-product-icon"><?php echo Mage::getStoreConfig("porto_settings/product_label/new_label_text", $code);?></span></div>
	<?php
			}
		}
	}
?>

<?php $cats = $product->getCategoryIds();?>
<?php if (in_array(276, $cats)): // HIT ?>
	<div class="product-label" title="Топ продаж"><span class="topselling-product-icon"><?= $this->__('Топ продаж')?></span></div>
<?php endif;?>
<?php if (in_array(279, $cats)): // ACTION ?>
	<div class="product-label" title="Акция"><span class="action-product-icon"><?= $this->__('Акция')?></span></div>
<?php endif;?>

<?php if (500 <= $product->getFinalPrice()): ?>
	<div class="product-label" title="Бесплатная доставка"><span class="delivery-product-icon"><?= $this->__('Бесплатная доставка')?></span></div>
<?php endif;?>

</div>

<script>
    jQuery(document).ready(function(){
        jQuery(".product-labels").css("display", "block");
    });
</script>
