<?php
/**
 * Mageplaza_ActionsList extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 *
 *
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_posts = $this->getPosts(); ?>
<div class="page-title">
    <?php if (Mage::helper('mageplaza_actionslist/post')->isRssEnabled()) : ?>
        <div class="actionslist-rss">
            <a href="<?php echo Mage::helper('mageplaza_actionslist/post')->getRssUrl(); ?>" class="bb-rss-icon"><img
                    src="<?php echo $this->getSkinUrl('images/mageplaza_actionslist/rss.png') ?>" width="16px"/> </a>
        </div>
    <?php endif; ?>
</div>
<?php if ($_posts->getSize() > 0) : ?>
    <?php //echo $this->getPagerHtml(); ?>
    <div class="post-list-container">
        <?php foreach ($_posts as $_post) : ?>
            <div class="post-list-item">

                <h2 class="mc-post-title" style="float:left;">
                    <a href="<?php echo $_post->getPostUrl() ?>">
                        <?php echo $_post->getPostTitle(); ?>
                    </a>
                </h2>

                <div class="times" style="float:right;">
                    <a href="<?php echo $_post->getPostUrl() ?>">
                        <?php echo $_post->getPostExcerpt(); ?>
                    </a>
                </div>

                <div class="post-image">
                    <?php if ($_post->getImage()) : ?>
                        <a href="<?php echo $_post->getPostUrl(); ?>" title="<?php echo $_post->getPostTitle(); ?>">
                            <img
                                src="<?php echo Mage::helper('mageplaza_actionslist/post_image')->init($_post, 'image'); ?>"
                                alt="<?php echo $this->escapeHtml($_post->getPostTitle()); ?>"/>
                        </a>
                    <?php endif; ?>
                </div>


                <?php /*
                <div class="mc-post-info">
                    <?php echo $this->__('Posted on'); ?> <?php echo Mage::helper('core')->formatDate($_post->getCreatedAt(), 'medium', false) ?> |
                    <?php echo $this->__('Posted in'); ?> <?php echo $_post->getPostCategoryHtml(); ?>
                    <?php if(Mage::helper('mageplaza_actionslist')->canShowCommentCount()) echo '| '. Mage::helper('mageplaza_actionslist')->formatCommentCount($_post->getCommentCount()); ?>
                </div>


                <div class="post-short-description">
                    <p><?php echo $_post->getPostExcerpt(); ?><?php echo $this->__('[...]'); ?></p>
                </div>

                <div class="mc-clearfix"></div>


                <div class="mc-post-meta-info mc-alignright">
                        <div class="actions">
                            <a class="mc-read-more" href="<?php echo $_post->getPostUrl(); ?>"
                               title="<?php echo $this->__('Read More'); ?>"><?php echo $this->__('Read More'); ?></a>
                        </div>


                </div>
                */ ?>

                <br/><br/>

            </div>
        <?php endforeach; ?>
    </div>
    <?php // echo $this->getPagerHtml(); ?>
<?php else : ?>
    <div class="post-list-container">
        <?php echo Mage::helper('mageplaza_actionslist')->__('There are no posts at this moment'); ?>
    </div>
<?php endif; ?>
