<?php
/**
 * How to call in CMS page
 * {{block type='mageplaza_actionslist/post_recent'  post_count="1" block_name="Latest from the actions" template='mageplaza_actionslist/post/recent.phtml'}}
 * {{block type='mageplaza_actionslist/post_cat'  post_count="1" category_id="4" block_name="Latest news" template='mageplaza_actionslist/post/recent.phtml'}}
 */
?>


<?php $posts = $this->getPosts(); ?>
<?php $postCount = $this->getPostCount(); ?>
<?php $i=0; ?>
    <div class="grid12-4">

        <div class="feature">
            <h2><?php echo $this->getBlockName();?></h2>
            <?php foreach ($posts as $post): ?>
                <?php if($i >= $postCount) break;?>
                <div class="post-image">
                    <?php if ($post->getImage()) :?>
                        <img src="<?php echo Mage::helper('mageplaza_actionslist/post_image')->init($post, 'image');?>" alt="<?php echo $this->escapeHtml($post->getPostTitle());?>" />
                    <?php endif;?>
                </div>
                <br>

                <div class="post-list-item">
                    <h4><a href="<?php echo $post->getPostUrl(); ?>" ><?php echo $post->getPostTitle(); ?></a></h4>
                </div>
                <div class="post-short-description">
                    <p><?php echo $post->getPostExcerpt();?></p>
                </div>
                <?php $i++; ?>
            <?php endforeach; ?>

        </div>

    </div>
