<?php
/**
 * Mageplaza_ActionsList extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post view template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 *
 */
?>
<?php $_post = $this->getCurrentPost(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <?php /*
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-568cdc40e9eab41d"
            async="async"></script>
    */ ?>
    <div class="page-title post-title">
        <h1><?php echo $_post->getPostTitle(); ?></h1>
    </div>
    <div class="post-view">

        <?php /*
        <div class="mc-post-info">
            <?php echo $this->__('Posted on'); ?> <?php echo Mage::helper('core')->formatDate($_post->getCreatedAt(), 'medium', false) ?>
            |
            <?php echo $this->__('Posted in'); ?> <?php echo $_post->getPostCategoryHtml(); ?> |
            <?php if (Mage::helper('mageplaza_actionslist')->canShowCommentCount()) echo Mage::helper('mageplaza_actionslist')->formatCommentCount($_post->getCommentCount()); ?>
        </div>

        <div class="post-post_excerpt">
            <?php echo $_post->getPostExcerpt(); ?>

        </div>
        <br>

        <div class="post-image">
            <?php if ($_post->getImage()) : ?>
                <a href="<?php echo $_post->getPostUrl(); ?>" title="<?php echo $_post->getPostTitle(); ?>">
                    <img src="<?php echo Mage::helper('mageplaza_actionslist/post_image')->init($_post, 'image'); ?>"
                         alt="<?php echo $this->escapeHtml($_post->getPostTitle()); ?>"/>
                </a>
            <?php endif; ?>
        </div>
        */ ?>

        <div class="post-post_content">
            <?php echo $_post->getPostContent(); ?>
        </div>

    </div>


    <?php /*
    <div class="post-sharing-button">
        <div class="addthis_sharing_toolbox"></div>
    </div>


    <div class="post-same-topics post-list">
        <?php $similarPosts = $this->getPostTopics(); ?>
        <?php if ($similarPosts): ?>
            <h2><?php echo $this->__('Topic'); ?>: <?php echo $this->getTopicLabel(); ?></h2>
            <ul>
                <?php foreach ($similarPosts as $post): ?>
                    <li>
                        <a href="<?php echo $post->getPostUrl() ?>"><?php echo $post->getPostTitle(); ?></a>
                    </li>
                <?php endforeach; ?>

            </ul>

        <?php endif; ?>

    </div>

<?php if ($this->canShowPostSameCategory()): ?>
    <div class="post-list posts-in-category">
        <?php $posts = $this->getPostsInCategory(); ?>
        <?php if ($posts && $posts->count()): ?>
            <h2><?php echo $this->__('Category'); ?>: <?php echo $this->getCategoryName(); ?></h2>
            <ul>
                <?php foreach ($posts as $post): ?>
                    <li>
                        <a href="<?php echo $post->getPostUrl() ?>"><?php echo $post->getPostTitle(); ?></a>
                    </li>
                <?php endforeach; ?>

            </ul>
        <?php endif; ?>
    </div>

<?php endif; ?>
 */ ?>