<?php
/**
 * Mageplaza_ActionsList extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Tag view template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 */
?>
<?php $_tag = $this->getCurrentTag();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title tag-title">
    <h1><?php echo $_tag->getName(); ?></h1>
</div>
<div class="tag-view">
    <div class="tag-name">
        <?php echo Mage::helper('mageplaza_actionslist')->__('Name');?>:<?php echo $_tag->getName();?>

    </div>

</div>
