<?php
/**
 * Mageplaza_ActionsList extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post comments list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 */
?>
<?php $_post = $this->getPost() ?>
<?php if ($_post->getAllowComments()) : ?>
    <div class="box-collateral box-reviews" id="post-reviews">
        <h2><?php echo $this->__('Comments') ?></h2>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=<?php echo $this->getAppId()?>";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>


        <div class="fb-comments" data-href="<?php echo $_post->getPostUrl();?>" data-numposts="<?php echo $this->getNumberOfComments();?>"
             data-width="100%" data-colorscheme="<?php echo $this->getColor()?>" ddata-order-by="<?php echo $this->getOrderBy()?>"></div>

    </div>
<?php endif; ?>
