<?php //$_categories = $this->getCurrentChildCategories() ?>
<?php //$_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
<?php //Added by Seoringer
	$_count = 0;
	global $_categoryIdsChain;
	$_categoryIdsChain = explode('/', Mage::registry('current_category')->getPath());
	array_shift($_categoryIdsChain);	// Getting rid of primeval category.
	$_rootCategory = Mage::getModel('catalog/category')->load(array_shift($_categoryIdsChain));
	$_categories = $_rootCategory->getChildrenCategories();
	$_headingCategoryName = $this->__('Категории');
	$_count = count($_categories);
?>
<?php
    function getChildrenCategoriesHtml($_category){
        //$children = explode( ",", $_category->getChildren() );
        $children = Mage::getModel('catalog/category')->getCollection()->setStoreId(Mage::app()->getStore()->getId());
        $children->addAttributeToSelect('*')
            ->addAttributeToFilter('parent_id', $_category->getId())
            ->addAttributeToFilter('is_active', 1)
            ->addAttributeToSort('position');
        $content = '';
        $content .= '<li class="';
        $content .= 'npp' . $_category->getPosition() . ' ';
        if(0 == count($children))
            $content .= 'has-no-children';
        else
            $content .= 'has-children';
            
		// Next two lines added by Seoringer.
		global $_categoryIdsChain;
		$content .= in_array($_category->getId(), $_categoryIdsChain) ? ' current-one' : '';
		
        $content .= '">';
        $content .= '<a href="'.$_category->getUrl().'" ';
        $content .= '>'.$_category->getName().'</a>';
        if(count($children) > 0){
            $content .= '<a href="javascript:void(0)" class="plus"><i class="icon-plus-squared"></i></a>';
            $content .= '<ul>';
            foreach($children as $child){
                //$_subcat = Mage::getModel( 'catalog/category' )->load( $child );
                $content .= getChildrenCategoriesHtml($child);
            }
            $content .= '</ul>';
        }
        $content .= '</li>';
        return $content;
    }
?>
<?php if($_count): ?>
<div class="block block-category-nav">
    <div class="block-title">
        <strong><span><?=$_headingCategoryName?></span></strong>
    </div>
    <div class="block-content">
        <ul class="category-list">
        <?php foreach ($_categories as $_category): ?>
            <?php
            if($_category->getIsActive()){
                echo getChildrenCategoriesHtml($_category);
            }
            ?>
        <?php endforeach ?>
        </ul>
    </div>
<script type="text/javascript">
    jQuery(function($){
        $(".block.block-category-nav .block-title").click(function(){
            if($(this).hasClass("closed")){
                $(".block.block-category-nav .block-content").slideDown();
                $(this).removeClass("closed");
            } else {
                $(".block.block-category-nav .block-content").slideUp();
                $(this).addClass("closed");
            }
        });
        $(".block.block-category-nav .category-list a.plus").click(function(){
            if($(this).parent().hasClass("opened")){
                $(this).parent().children("ul").slideUp();
                $(this).parent().removeClass("opened");
                $(this).children("i.icon-minus-squared").removeClass("icon-minus-squared").addClass("icon-plus-squared");
            } else {
                $(this).parent().children("ul").slideDown();
                $(this).parent().addClass("opened");
                $(this).children("i.icon-plus-squared").removeClass("icon-plus-squared").addClass("icon-minus-squared");
            }
        });
        <?php if (!$this->getFoldedByDefault()) :?>
            $(".block.block-category-nav .category-list li.current-one > a.plus").trigger("click");
        <?php endif;?>
    });
    jQuery(document).ready(function(){
    });
</script>
</div>
<?php endif; ?>
