<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtocart', $code);
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtolinks', $code);
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>
<?php if(!$this->isContentMode()): ?>
    <?php echo $_imgHtml ?>
<?php endif;?>


<div class="page-title category-title">
    <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
    <?php endif; ?>
    <span class="h1"><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></span>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($this->isContentMode()): ?>
    <div class="category-top">
        <?php echo $this->getCmsBlockHtml() ?>
    </div>
    
    <?php
    $childrenCollection = $_category->getCollection();
    // Only get child categories of parent cat
    $childrenCollection->addIdFilter($_category->getChildren());
    // Only get active categories
    $childrenCollection->addAttributeToFilter('is_active', 1);

    // Add base attributes
    $childrenCollection->addAttributeToSelect('url_key')
        ->addAttributeToSelect('name')
        ->addAttributeToSelect('all_children')
        ->addAttributeToSelect('is_anchor')
        ->setOrder('position', Varien_Db_Select::SQL_ASC)
        ->joinUrlRewrite();

    // ADD IMAGE ATTRIBUTE
    $childrenCollection->addAttributeToSelect('image');
    ?>

    <div class="subcategories">
        <?php foreach($childrenCollection as $nextChildCategory) :?>
            <div class="subcategory">
                <a href="<?= $nextChildCategory->getUrl()?>"><p class="category-name"><?=$nextChildCategory->getName()?></p></a>
                <div class="category-image">
                    <?php if (!($_imgUrl = $nextChildCategory->getImageUrl())) :?>
                        <?php $_imgUrl = Mage::getDesign()->getSkinUrl($this->getPlaceholder());?>
                    <?php endif;?>
                    <?php $_imgHtml = '<img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($nextChildCategory->getName()).'" title="'.$this->escapeHtml($nextChildCategory->getName()).'" />';?>
                    <a href="<?= $nextChildCategory->getUrl()?>"><?=$_imgHtml?></a>
                </div>
            </div>
        <?php endforeach;?>
    </div>
    <div class="category-description std">
<?php
           
?>
</div>
<?php elseif($this->isMixedMode()): ?>
    <div class="category-top">
        <?php echo $this->getCmsBlockHtml() ?>
    </div>
    <?php echo $this->getProductListHtml() ?>
    <div class="category-top">
        <?php echo $this->getCmsBlockHtml() ?>
    </div>
<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>

 <div class="decs-none">
    <?php
    if(Mage::getStoreConfig("porto_settings/category/fullwidth_description",$code)){
        if($_description=$_category->getDescription()){
             echo $_description;
            ?>

            <?php
        }
    }
    ?>

    
 </div> 
 <style>
form.consultation {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.consultation-btn{
    color: #fff;
    background-color: #37d10d;
    height: 40px;
}
.consultation-btn:hover{
    color: #fff;
    background-color: #33bf0c;
}
</style>
<?php 
    $storeCode = Mage::app()->getStore()->getCode(); 
    $action = "/" . $storeCode . "/contacts";
?>
<form class="consultation" method="post" action="<?php echo $action; ?>">
    <input name="consultation_category" type="hidden" value="<?php echo $_category->getName();?>">
    <button type="submit" class="btn consultation-btn"><?php echo Mage::helper('contacts')->__("Get Consultation"); ?></button>
</form>
