<?php $testimonial=$this->getTestimonial(); ?>
<div class="customer-testimonials">
	<div class="page-title">
		<h1><?php echo $this->__('Customer Testimonials');?></h1>
        <?php if(Mage::getStoreConfig('testimonial/testimonial_options/allow_customers_write_testimonial') == 1):?>
		<div class="submit-testimonial">
				<button class="button" onclick="setLocation('<?php echo $this->getFormUrl(); ?>')">

					<span>
						<span>
							<?php echo $this->__('Submit Your Testimonial');?>					
						</span>
					</span>
				</button>

		</div>
        <?php endif ?>
    </div>
	<?php echo $this->getPagerHtml();?>

	<div class="container testimonial">
						  <div class="row">
						    <div class="col-md-11 col-sm-12 review-col">
								<section class="comment-list">
	<?php if ($testimonial->getSize()): ?>
		<?php $i=0; foreach ($testimonial as $obj):?>
			<?php if($obj->getStatus()==1): ?>

					
<!-- <?php if($i==0):?> first<?php endif;?><?php if($i==(count($testimonial)-1)):?> last<?php endif;?>" name="<?php echo $obj->getName(); ?>" id="<?php echo $obj->getName(); ?> -->
									<article class="row">
										<?php /*
										<div class="col-md-2 col-sm-2 hidden-xs">
											<figure class="thumbnail">
												<?php
												if($obj->getAvatarName() == ''){
													$avatarLink = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .'avatar/avatar.jpg';
													?><img class="img-responsive" src="<?php echo $avatarLink ?>" alt="Avatar" /><?php
												}
												else{
													?><img class="hia img-responsive" src="<?= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magebuzz' . DS . 'avatar' . DS . $obj->getAvatarName() ?>" alt="Avatar" /> <?php
												}
												?>
												<figcaption class="text-center"><?php echo $obj->getName(); ?></figcaption>
											</figure>
										</div>
										*/ ?>
										<div class="col-md-10 col-sm-10">
											<div class="panel panel-default arrow left">
												<div class="panel-body">
													<header class="text-left">
														<div class="comment-user"><i class="fa fa-user"></i> <?php echo $obj->getName(); ?></div>
														<time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <?php echo date('m-d-Y', Mage::getModel('core/date')->gmtTimestamp($obj->getCreatedTime())); ?></time>
													</header>
													<div class="comment-post">
														<p>
															<?php echo $obj->getTestimonial();?>
														</p>
													</div>
													
												</div>
											</div>
										</div>
									</article>
								
			<?php endif ?>
			<?php $i++; ?>
		<?php endforeach;?>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<!--?php echo $this->getPagerHtml();  -->
	<?php else: ?>
		<p class="note-msg"><?php echo $this->__('There is no testimonial submitted.'); ?></p>
	<?php endif ?>
</div>






