<?php if(Mage::getStoreConfig('testimonial/general_option/enable_sidebar') == 1):?>
	<?php $latestTestimonial = $this->getTestimonialsLast()?>
	<?php if(count($latestTestimonial) > 0):?>
	<span class="h2 filter-title" style="background-image:none;margin-bottom:5px;"><span class="content"><strong><?php echo $this->__('Отзывы')?></strong></span></span>
	<div id="testimonials-slider-demo-6" class="owl-carousel owl-theme">
	<?php foreach($latestTestimonial as $_item):?>
		<div class="item">
			<blockquote class="testimonial">
				<p><?php
						echo $_description = $_item->getTestimonial();
						//$short_desc = $this->getContentTestimonialSidebar($_description, 150);
						//echo $short_desc;
						/*<a href="<?php echo $this->getUrl('testimonial')?>#<?php echo $_item->getName();?>" title=""><?php echo "View more"?></a></p>*/
				   ?>
			</blockquote>
			<div class="testimonial-arrow-down"></div>
			<div class="testimonial-author">
				<?php /*<div class="img-thumbnail img-thumbnail-small"><img width="60" height="60" src="{{media url="wysiwyg/porto/homepage/content/07/client-1-11.jpg"}}" alt=""/></div>*/ ?>
				<p><strong><?php echo $_item->getName();?> </strong> <span> <?php echo date('d-m-Y',Mage::getModel('core/date')->gmtTimestamp ( $_item->getCreatedTime()));?></span></p>
			</div>
		</div>
	<?php endforeach;?>
	</div>
	<?php if(Mage::getStoreConfig('testimonial/testimonial_options/allow_customers_write_testimonial') == 1):?>
	<div class="submit-testimonial">
		<button class="button" onclick="setLocation('<?= $this->helper('testimonial')->getFormUrl(); ?>')">
			<span>
				<span>
					<?php echo $this->__('Оставить отзыв');?>					
				</span>
			</span>
		</button>
		<button class="button" onclick="setLocation('<?= $this->helper('testimonial')->getBack(); ?>')">
			<span>
				<span>
					<?php echo $this->__('Все отзывы');?>					
				</span>
			</span>
		</button>
	</div>
	<?php endif ?>
	<script type="text/javascript">
	jQuery(function($){
		$("#testimonials-slider-demo-6").owlCarousel({
			lazyLoad: true,
			responsiveRefreshRate: 50,
			slideSpeed: 200,
			paginationSpeed: 500,
			scrollPerPage: true,
			stopOnHover: true,
			rewindNav: true,
			rewindSpeed: 600,
			pagination: true,
			navigation: false,
			autoPlay: true,
			singleItem: true
		});
	});
    </script>
	<?php endif ?>
<?php endif ?>
