<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
?>
<?php $_product = Mage::getModel('catalog/product')->load(Mage::registry('current_product')->getId()); ?>
<?php
if (0 != $_product->getBrand()) :
	$_categoriesByName = Mage::getResourceModel('catalog/category_collection')
			->addFieldToFilter('name', $_product->getAttributeText('brand'));
?>
<?php			
	if (0 < count($_categoriesByName)) :
		//$_category = $_categoriesByName->getFirstItem();
		$_category = Mage::getModel('catalog/category')->load($_categoriesByName->getFirstItem()->getId());
?>
		<div class="block block-manufacturer">
			<a href="<?= $_category->getUrl() ?>" title="<?= $_category->getName() ?>">
				<img src="<?= $_category->getImageUrl() ?>" title="<?= $_category->getName() ?>" /></a>
			<hr>
		</div>
	<?php endif; ?>
<?php endif; ?>
