<?php
/*
<div class="mp-footer">
    <span class="mp-footer-links-light">
        <h3>
            <a href="https://www.magentocommerce.com/magento-connect/better-actions.html">Actions extension</a> powered by
            <a href="https://www.mageplaza.com/" target="_blank">Magento extensions</a>
        </h3>

    </span>
</div>
*/
?>
