<?php 
/**
 * Mageplaza_ActionsList extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_ActionsList
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Tag Post list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_ActionsList
 * @author      Sam
 */
?>
<?php $_posts = $this->getPosts(); ?>
<div class="page-title post-title">
    <?php if (Mage::helper('mageplaza_actionslist/post')->isRssEnabled()) : ?>
        <a href="<?php echo Mage::helper('mageplaza_actionslist/post')->getRssUrl();?>" class="link-rss"><?php echo Mage::helper('mageplaza_actionslist')->__('Subscribe to RSS Feed')?></a>
    <?php endif;?>
    <h1><?php echo Mage::helper('mageplaza_actionslist')->__('Posts') ?></h1>
</div>
<?php if ($_posts->getSize() > 0) :?>
    <?php //echo $this->getPagerHtml(); ?>
    <div class="post-list-container">
        <?php foreach ($_posts as $_post) : ?>
            <div class="post-list-item">
                <a href="<?php echo $_post->getPostUrl()?>">
                    <?php echo $_post->getPostTitle();?>
                </a><br />
                <div class="post-short-description">
                    <p><?php echo $_post->getPostExcerpt();?></p>
                </div>

                <div class="post-image">
                    <?php if ($_post->getImage()) :?>
                        <img src="<?php echo Mage::helper('mageplaza_actionslist/post_image')->init($_post, 'image');?>" alt="<?php echo $this->escapeHtml($_post->getPostTitle());?>" />
                    <?php endif;?>
                </div>

            </div>
        <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <div class="post-list-container">
    <?php echo Mage::helper('mageplaza_actionslist')->__('There are no posts at this moment'); ?>
    </div><?php endif;?>
