<?php if($crumbs && is_array($crumbs)): ?>
<div class="col-sm-12 a-left">
    <ul>
        <?php
        $category = Mage::registry('current_category');
        if (!is_object($category) && ($product = Mage::registry('current_product'))) {
            // At first, let's unset existing product element;
            unset($crumbs['product']);
            // And unset product's category (just to be sure).
            unset($category);
            
            $categories = $product->getCategoryCollection()
                ->addAttributeToFilter('is_active', 1)
                ->addAttributeToFilter('include_in_menu', 1)
                ->load();
                
            if($categories) {
                foreach ($categories as $category)
                {
                    if ($category) {
                        $category = Mage::getModel('catalog/category')->load($category->getId());
                        if (249 != $category->getParentCategory()->getId()) {   // If not "brand" category
                            break;
                        }
                    }
                }
            }

            if($category) {
                if($path = $category->getPath()) {
                    $path = explode('/', $path);
                    for($i = 2; $i < count($path); $i++) {
                        $cur_category = Mage::getModel('catalog/category')->load($path[$i]);
                        if($cur_category && $cur_category->getIsActive()) {
                            $crumbs['category' . $path[$i]] = array('label' => $cur_category->getName(),
                            'title' => $cur_category->getName(),
                            'link' => $cur_category->getUrl(),
                            'first' => false,
                            'last' => false
                            );
                        }
                    }
                }
            }

            $crumbs['product'] = array(
                'label' => $product->getName(),
                'title' => $product->getName(),
                'link' => false,
                'last' => true,
                );
        }
        ?>
        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
            <li class="<?php echo $_crumbName ?>">
            <?php if($_crumbInfo['link']): ?>
                <a href="<?= $_crumbInfo['link'] ?>" title="<?= $this->escapeHtml($this->__($_crumbInfo['title'])) ?>"><?= $this->escapeHtml($this->__($_crumbInfo['label'])) ?></a>
            <?php elseif($_crumbInfo['last']): ?>
                <strong><?php echo $this->escapeHtml($this->__($_crumbInfo['label'])) ?></strong>
            <?php else: ?>
                <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
            <?php endif; ?>
            <?php if(!$_crumbInfo['last']): ?>
                <span class="breadcrumbs-split"><i class="icon-right-open"></i></span>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
