﻿<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $footer = Mage::getStoreConfig('porto_settings/footer',$code);
    $footer_class = ($footer['fixed_position_footer_enabled'])?" fixed-position":"";
?>
<div class="footer-container <?php echo $footer_class; ?>">
    <div class="footer">
    <?php
        if( $footer['footer_top_enabled'] ){
    ?>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <?php
                        $area = 'footer_top_block';
                        $type = $footer[$area];
                        if( $type== 'twitter' ){
                            echo $this->getChildHtml('tweets');
                        }
                        if( $type == 'custom' ){
                            echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer['footer_top_custom'])->toHtml();
                        }

                    ?>
                    </div>
                </div>
            </div>
        </div>
    <?php
        }
        if( $footer['footer_middle_enabled'] ){
    ?>
        <div class="footer-middle">
            <div class="container">
            <?php
                if( $footer['footer_ribbon_enabled'] ){
            ?>
                <div class="footer-ribbon">
                    <span><?php echo $footer['footer_ribbon_text'] ?></span>
                </div>
            <?php
                }
            ?>
                <div class="row">
                <?php
                    for( $i = 1; $i <= 4; $i++ ){
                        $area = 'footer_middle_column_'.$i;
                        $type = $footer[$area];
                        if( $type ){
                            echo '<div class="col-sm-'.$footer[$area.'_size'].'">';
                        }
                        if( $type == 'custom' ){
                            echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                        }
                        if( $type == 'newsletter' ){
                            echo $this->getChildHtml('footer.newsletter');
                        }
                        if( $type== 'facebook' ){
                            echo $this->getChildHtml('facebook_fans');
                        }
                        if( $type== 'flickr' ){
                            echo $this->getChildHtml('flickr');
                        }
                        if( $type== 'twitter' ){
                            echo Mage::getSingleton("core/layout")->getBlock("tweets")->setTemplate("socialfeeds/footer_middle_twitterfeed.phtml")->toHtml();
                        }
                        if( $type ){
                            echo '</div>';
                        }
                ?>
                <?php
                    }
                ?>
                </div>
                <?php echo $this->getChildHtml("demo_footer_tooltip"); ?>
            </div>
        </div>
    <?php
        }
        if( $footer['footer_middle_2_enabled'] ){
    ?>
        <div class="footer-middle footer-middle-2">
            <div class="container">
                <div class="row">
                <?php
                    for( $i = 1; $i <= 4; $i++ ){
                        $area = 'footer_middle_2_column_'.$i;
                        $type = $footer[$area];
                        if( $type ){
                            echo '<div class="col-sm-'.$footer[$area.'_size'].'">';
                        }
                        if( $type == 'custom' ){
                            echo $this->getLayout()->createBlock('cms/block')->setBlockId($footer[$area.'_custom'])->toHtml();
                        }
                        if( $type == 'newsletter' ){
                            echo $this->getChildHtml('footer.newsletter');
                        }
                        if( $type== 'facebook' ){
                            echo $this->getChildHtml('facebook_fans');
                        }
                        if( $type== 'flickr' ){
                            echo $this->getChildHtml('flickr');
                        }
                        if( $type ){
                            echo '</div>';
                        }
                ?>
                <?php
                    }
                ?>
                </div>
            </div>
        </div>
    <?php
        }
        if( $footer['footer_bottom_enabled'] ){
    ?>
        <div class="footer-bottom">
            <div class="container">
                <?php
                if($footer['footer_logo']){
                ?>
                    <a href="<?php echo $this->getUrl('') ?>" class="logo"><img src="<?php echo $this->getSkinUrl($footer['footer_logo']); ?>" alt=""/></a>
                <?php
                }
                if($footer['footer_bottom_socialicons']){
                ?>
                <?php echo $this->getChildHtml('socialicons'); ?>
                <?php
                }
                if($footer['footer_bottom_custom_block'] && $footer['footer_bottom_custom_block_id']){
                    echo '<div class="custom-block">'.$this->getLayout()->createBlock('cms/block')->setBlockId($footer['footer_bottom_custom_block_id'])->toHtml().'</div>';
                }
                ?>
                <?php
                if($footer['footer_bottom_custom_block_2'] && $footer['footer_bottom_custom_block_id_2']){
                    echo '<div class="custom-block f-right">'.$this->getLayout()->createBlock('cms/block')->setBlockId($footer['footer_bottom_custom_block_id_2'])->toHtml().'</div>';
                }
                ?>
                <address>
				<noindex><?php echo $this->__('Copyright© 2018 Service Pack Trade s. r. o.'); ?></noindex>
				<?php //echo $footer['copyrights'] ?></address>
                <?php if(isset($footer['footer_bottom_store_switcher']) && $footer['footer_bottom_store_switcher']) echo $this->getChildHtml("store_switcher"); ?>
 </br>
 <div style="padding-left: 55.5%;"><img src="http://1pack.eu/logogrey.png" alt="Seo Solution">
<a style="font-size:12px;" rel="nofollow" href="https://seosolution.ua/kiev.html" >Поисковая оптимизация от Seo Solution Киев</a> - продвижение по всей Украине.</div>						
</div>
 </div>
    <?php
        }
    ?>
    </div>
</div>
<!-- Start FastcallAgent code {literal} -->
<script type="text/javascript">
var fca_code = '3607caacc76776ac9d346ad33b4ccdcd';
(function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.charset = 'utf-8';
    po.src = '//ua.cdn.fastcallagent.com/fca.min.js?_='+Date.now();
    var s = document.getElementsByTagName('script')[0];
    if (s) { s.parentNode.insertBefore(po, s); }
    else { s = document.getElementsByTagName('head')[0]; s.appendChild(po); }
})();
</script>
<!-- {/literal} End FastcallAgent code -->

<?php
$today = date('Y-m-d');
if ($today >= '2017-04-28' && $today <= '2017-05-02') :
?>
<div id="fancybox-popup" style="display:none">
 <a href="<?=Mage::getUrl('custom_controller')?>">
    <a href="http://1pack.eu/action">
        <img src="<?=$this->getSkinUrl('images/1788066.jpg')?>"/>
    </a> 
</div>
<script>

    var popItUp = function() {
        console.log('popping up...');
        //jQuery("a#pops").fancybox();
            margins = 40;
            imageKoeff = 1.67;
            fb_width = Math.min(720, parseInt(jQuery(window).width()) - margins);
            fb_height = Math.round(fb_width/imageKoeff);
            if (fb_height > (parseInt(jQuery(window).height()) - margins)) {
                fb_height = parseInt(jQuery(window).height()) - margins;
                fb_width = Math.round(fb_height * imageKoeff);
            }
            
            <?php /*
            jQuery.fancybox({
                href: "<?=$this->getSkinUrl('images/valentines.jpg')?>",
                //prevEffect    : 'none',
                //nextEffect    : 'none',
                //fitToView: false, // avoid the adjusting size to viewport
                fitToView: true,
                type: 'image',
                autoSize: false, // avoid set size based on content
                width           : fb_width,
                height          : fb_height,
                showCloseButton : true,
                //arrows    : false,
            });
            */ ?>
        cntn = jQuery('#fancybox-popup').clone(); //.attr("style", "display:block");
        cntn.find('img').css("width", "100%").css("height", "auto");
        jQuery.fancybox({
            content: cntn,
            //prevEffect    : 'none',
            //nextEffect    : 'none',
            //fitToView: false, // avoid the adjusting size to viewport
            type: 'html',
            autoSize: false, // avoid set size based on content
            width           : fb_width,
            height          : fb_height,
            //arrows    : true,
            showCloseButton : true,
            helpers : {
                media: true 
            },
            scrolling: false,
                beforeShow: function() {
                },
                afterShow: function(){
                    createCookie("noMorePopupWindow", true);
                }
        });

    }

    var createCookie = function(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    
    jQuery( function(){
        if ("" === getCookie("noMorePopupWindow")) {
            setTimeout(popItUp, 3000);
        }
    });
</script>
<?php endif;?>

